<div class="p-t-16">
  <div class="functional-container row jus-center functional-wrapper">
    <div class="row ali-center jus-center nav-bar h-100">
      <div
        routerLinkActive="active"
        class="nav-item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/home/huong-dan/cong-viec"
      >
        Bài tập
        <div class="line"></div>
      </div>
      <div
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/home/huong-dan/cong-viec/thanh-vien-nhom"
      >
        Thành viên
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
