#container {
    margin-top: 110px; 
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.student-list,
.teacher-list{
    font-size: 40px;
    color: rgb(25,103,210);
    line-height: 90px;
    padding-left: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(66,133,244);
    margin-bottom: 40px;
} 

.student-detail,
.teacher-detail {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.student-image img,
.teacher-image img {
    width: 32px;
    border-radius: 50%;
}

.student-name,
.teacher-name {
    font-size: 16px;
    font-weight: 700;
    margin-left: 32px;
}

.border-bottom {
    border-bottom: 0.0625rem solid #dadce0;
}

.exit-btn {
    border-radius: 5px;
    background: none;
    background-color: #0984e3;
    color: #fff;
    cursor: pointer;
    min-width: 120px;
    font-size: 1.35rem;
    height: 100%;
    padding: 5px;
    margin-left: auto;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .modal-buttons button:hover {
    background-color: #ddd;
  }