<div id="container">
    <div class="teacher-list">Giáo viên</div>
    <div 
        class="teacher-detail" 
        [ngClass]="{'border-bottom': lstGiangVien.length > 1}" 
        *ngFor="let gv of lstGiangVien"
    >
        <div class="teacher-image">
            <img
                *ngIf="gv?.gioiTinh == 'Nữ'"
                src="../../assets/Images/avatar-nu.jpg"
                alt="Avatar"
            />
            <img
                *ngIf="gv?.gioiTinh == 'Nam'"
                src="../../assets/Images/avatar-nam.jpeg"
                alt="Avatar"
            />
        </div>
        <div class="teacher-name">{{ gv?.tenGv }} </div>
    </div>

    <div class="student-list">Sinh viên</div>
    <div class="non-leader" *ngIf="!isTeamLeader">
        <div 
            class="student-detail" 
            [ngClass]="{'border-bottom': lstStudent.length > 1}" 
            *ngFor="let st of lstStudent"
        >
            <div class="student-image">
                <img
                    *ngIf="st?.gioiTinh == 'Nữ'"
                    src="../../assets/Images/avatar-nu.jpg"
                    alt="Avatar"
                />
                <img
                    *ngIf="st?.gioiTinh == 'Nam'"
                    src="../../assets/Images/avatar-nam.jpeg"
                    alt="Avatar"
                />
            </div>
            <div class="student-name">{{ st?.tenSv }} </div>
            <button 
                class="exit-btn" 
                *ngIf="st?.maSv === studentId"
                (click)="showConfirmDialog()"
            >
                Thoát
            </button>
        </div>
    </div>

    <div class="leader" *ngIf="isTeamLeader">
        <div 
            class="student-detail" 
            [ngClass]="{'border-bottom': lstStudent.length > 1}" 
            *ngFor="let st of lstStudent"
        >
            <div class="student-image">
                <img
                    *ngIf="st?.gioiTinh == 'Nữ'"
                    src="../../assets/Images/avatar-nu.jpg"
                    alt="Avatar"
                />
                <img
                    *ngIf="st?.gioiTinh == 'Nam'"
                    src="../../assets/Images/avatar-nam.jpeg"
                    alt="Avatar"
                />
            </div>
            <div class="student-name">{{ st?.tenSv }} </div>
            <button 
                class="exit-btn" 
                *ngIf="st?.maSv !== studentId"
                (click)="showTranferDialog(st.maSv)"
            >
                Trưởng nhóm
            </button>
            <button 
                class="exit-btn" 
                *ngIf="st?.maSv === studentId"
                (click)="showConfirmDialog()"
            >
                Thoát
            </button>
        </div>
    </div>
</div>

<div class="modal" *ngIf="isConfirmDialogVisible">
    <div class="modal-content">
      <h2 *ngIf="!isTeamLeader || (isTeamLeader && isGroupHaveOneMember)">Bạn có thực sự muốn thoát khỏi nhóm?</h2>
      <h2 *ngIf="isTeamLeader">Vui lòng chọn lại trưởng nhóm cho nhóm.</h2>
      <div class="modal-buttons">
        <button class="modal-ok-btn" (click)="performAction()">OK</button>
        <button *ngIf="!isTeamLeader || (isTeamLeader && isGroupHaveOneMember)" (click)="hideConfirmDialog()">Cancel</button>
      </div>
    </div>
</div>

<div class="modal" *ngIf="isTranferDialogVisible">
    <div class="modal-content">
      <h2>Bạn muốn chọn người này làm trưởng nhóm?</h2>
      <div class="modal-buttons">
        <button class="modal-ok-btn" (click)="performTranferAction()">OK</button>
        <button (click)="hideTranferDialog()">Cancel</button>
      </div>
    </div>
</div>