<router-outlet></router-outlet>
<!-- <div class="invitation-list">
  <h3 class="title">Danh sách lời mời</h3>
  <div class="card-deck">
    <div class="card" *ngFor="let loiMoi of lstLoiMoi">
      <div class="card-header">
        Lời mời từ nhóm {{loiMoi.maNhom}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ loiMoi.namHoc }} - Đợt {{ loiMoi.dot }} - Nhóm {{ loiMoi.maNhom }}</h5>
        <p class="card-text">{{ loiMoi.loiNhan }}</p>
        <p class="card-text">Thời gian: {{ dateFormat(loiMoi.thoiGian) }}</p>
        <div>
          <button class="btn btn-success accept-btn" (click)="acceptInvitation(loiMoi)">Accept</button>
          <button class="btn btn-danger reject-btn" (click)="rejectInvitation(loiMoi)">Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" *ngIf="isConfirmDialogVisible">
  <div class="modal-content">
    <h2 *ngIf="!isTeamLeader || (isTeamLeader && isGroupHaveOneMember)">Bạn đang trong một nhóm. Bạn có muốn thoát khỏi nhóm cũ và tham gia vào nhóm mới không?</h2>
    <h2 *ngIf="isTeamLeader && !isGroupHaveOneMember">Bạn đang là trưởng nhóm, vui lòng chọn trưởng nhóm khác trước khi rời nhóm</h2>
    <div class="modal-buttons">
      <button class="modal-ok-btn" (click)="performAction()">OK</button>
      <button (click)="hideConfirmDialog()">Cancel</button>
    </div>
  </div>
</div>


<div *ngIf="isPopupVisible" class="blur-frame">
  <div class="popup-failed">
    <img src="./../../../assets/Images/that-bai.png"/>
    <div class="popup-wrapper">
      <h2>Thất bại</h2>
      <p>Nhóm bạn đã đăng ký đề tài nên không thể chuyển nhóm</p>
      <button (click)="hidePopup()">Đóng</button>
    </div>
  </div>
</div> -->