<div class="invitation-list">
  <h3 class="title">Danh sách lời mời</h3>
  <div class="card-deck">
    <div class="card" *ngFor="let loiMoi of lstLoiMoi">
      <div class="card-header">
        Lời mời từ nhóm {{loiMoi.maNhom}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ loiMoi.namHoc }} - Đợt {{ loiMoi.dot }} - Nhóm {{ loiMoi.maNhom }}</h5>
        <p class="card-text">{{ loiMoi.loiNhan }}</p>
        <p class="card-text">Thời gian: {{ dateFormat(loiMoi.thoiGian) }}</p>
        <div>
          <button class="btn btn-success accept-btn" (click)="acceptInvitation(loiMoi)">Accept</button>
          <button class="btn btn-danger reject-btn" (click)="rejectInvitation(loiMoi)">Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>
