#container {
  background: #fff;
  border-radius: 10px;
  padding: 16px 24px;
}

.notify-list {
  margin: 0 -12px;
}

.list-item {
  padding: 8px 0px;
}

.list-item img {
  width: 120px;
}

.list-item .info {
  padding-left: 12px;
}

.first-info img {
  width: 100%;
  padding: 0;
  border-radius: 8px;
}

.name {
  --height: calc(1.6 * 1.3rem * 3);
  font-size: 1.3rem;
  text-align: justify;
  max-height: var(--height);
  overflow: hidden;
  position: relative;

  // &::after {
  //   position: absolute;
  //   content: "";
  //   background: linear-gradient(to bottom, transparent, #fff);
  //   width: 100%;
  //   height: 16px;
  //   bottom: 0;
  // }
}

.date {
  padding-top: 8px;
  color: #6e6e6e;
  font-size: 1.2rem;

  i {
    font-size: 1.2rem;
    padding-right: 4px;
    color: dodgerblue;
  }
}
