<div id="container">
  <div class="row notify-list">
    <div class="h-5 p-l-12 p-r-12 p-t-8 first-info">
      <div class="item-container">
        <img [src]="listTB[0]?.hinhAnh" alt="" />

        <div class="info flex-1">
          <div class="row flex-column jus-between">
            <div class="name">
              <p>{{ listTB[0]?.tenTb }}</p>
            </div>
            <p class="date row ali-center jus-end">
              <i class="icon-cal fa-regular fa-calendar"></i>
              {{ dateFormat(listTB[0]?.ngayTb) }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="h-7 p-l-12 p-r-12">
      <div class="list-item" *ngFor="let thongBao of listTB">
        <div class="row item-container" routerLink="/ministry/thong-bao/chi-tiet">
          <img [src]="thongBao.hinhAnh" alt="" />

          <div class="info flex-1">
            <div class="row flex-column jus-between">
              <div class="name">
                <p>{{ thongBao.tenTb }}</p>
              </div>
              <p class="date row ali-center jus-end">
                <i class="icon-cal fa-regular fa-calendar"></i>
                {{ dateFormat(thongBao.ngayTb) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
