<form class="tb-form detail-container">
  <div class="row functional-wrapper">
    <div class="h-9 p-l-8 p-r-8">
      <div class="detail-item">
        <div class="mission-info relative">
          <div class="mission-img row ali-center jus-center ma-r-16">
            <img src="../../../../assets/Images/mission.svg" alt="" />
          </div>

          <div>
            <div class="misstion-name p-b-8">{{ cviec.tenCv }}</div>
            <div class="row ali-center jus-between">
              <div class="teacher-name">{{ giangVien.tenGv }}</div>
              <p class="mission-timeout">Đến hạn {{ thoiHan }}</p>
            </div>

            <div class="mission-request" style="border: none">
              <span>Mô tả: </span>
              {{ cviec.moTa }}
            </div>

            <div class="mission-request">
              <span>Yêu cầu: </span>
              {{ cviec.yeuCau }}
            </div>
          </div>

          <div [formGroup]="dtForm.form" class="commment-form">
            <p class="comment-title">Nhận xét về công việc</p>
            <div class="form-control">
              <div class="user-img row ali-center jus-center ma-r-16">
                <img src="../../../../assets/Images/user-icon.svg" alt="" />
              </div>

              <div class="form-value">
                <quill-editor
                  spellcheck="false"
                  class="form-input"
                  placeholder="Thêm nhận xét cho công việc tại đây"
                  [modules]="{ toolbar: false }"
                  formControlName="nhanXet"
                ></quill-editor>
                <p class="error-mess"></p>
              </div>
            </div>

            <div class="row jus-end">
              <button class="comment-btn" (click)="onAddComment()">Đăng</button>
            </div>

            <div class="comment-list">
              <div class="comment-item" *ngFor="let duyet of listBinhLuan">
                <div class="row">
                  <div>
                    <img src="../../../../assets/Images/user-icon.svg" alt="" />
                  </div>

                  <div class="comment-info">
                    <p class="title">{{ duyet.maSv }}</p>
                    <p class="content" [innerHTML]="duyet.noiDung"></p>
                    <p class="time">{{ duyet.thoiGian }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="h-3 p-l-8 p-r-8">
      <div class="detail-item">
        <div class="row ali-center jus-between home-work">
          <p class="home-work-title p-b-8">Bài tập của bạn</p>
          <p class="mission-note" *ngIf="isOutDate">Thiếu</p>
          <input type="file" hidden (input)="onConfirmFile($event)" multiple />
        </div>

        <div class="list-file" *ngIf="homeworkFiles.length > 0">
          <div
            class="file-item row ali-center"
            *ngFor="let item of homeworkFiles"
          >
            <img [src]="item.img" alt="" />

            <div class="item-info">
              <p>{{ item.name }}</p>
              <span>{{ item.type }}</span>
            </div>

            <i class="fa-solid fa-xmark remove-btn" style="color: #878787" (click)="onRemveFileItem($event, item.name)"></i>
          </div>
        </div>

        <div>
          <button class="comment-btn w-100" (click)="onAddFile()">
            Thêm file đi kèm
          </button>
          <button class="comment-btn w-100" (click)="onSubmitHomeWork()">
            Nộp bài
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
