<div id="functional-container">
  <div class="functional-list">
    <ul class="functional-container row ali-center functional-wrapper">
      <li class="functional-item">
        <select
          class="search-select"
          id="search-select"
          (change)="onGetDetaiByMaCn($event)"
        >
          <option value="">Tất cả</option>
          <option *ngFor="let cn of listCn" value="{{ cn.maCn }}">
            {{ cn.tenCn }}
          </option>
        </select>
      </li>
      <li class="functional-item">
        <input
          type="text"
          placeholder="Tìm theo tên..."
          (input)="onSearchName($event)"
        />
      </li>
    </ul>
  </div>
</div>

<div id="container">
  <div>
    <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
      <tr>
        <th>Mã ĐT</th>
        <th>Tên đề tài</th>
        <th>Tóm tắt</th>
        <th>Số lượng</th>
        <th>Chuyên ngành</th>
        <th>Giảng viên ra đề</th>
        <th>Lần cuối duyệt</th>
      </tr>
      <tbody *ngFor="let dt of listDT">
        <tr class="br-line">
          <td class="text-center">{{ dt.maDT }}</td>
          <td class="text-left">
            <p class="cell-limit" [innerHTML]="dt?.tenDT"></p>
          </td>
          <td class="text-left relative">
            <p class="topic-summary cell-limit" [innerHTML]="dt?.tomTat"></p>
            <span
              class="show-more"
              [routerLink]="['/ministry/de-tai/chi-tiet', { maDt: dt.maDT }]"
              >[Chi tiết]</span
            >
          </td>
          <td class="text-center">{{ dt?.slMin }} - {{ dt?.slMax }}</td>
          <td class="text-center">{{ getTenChuyennganhByMaDT(dt.maDT) }}</td>
          <td class="text-center">{{ getTenGvRadeByMaDT(dt.maDT) }}</td>
          <td class="text-center">
            <b>
              {{ getThoiGianDuyetByMaDT(dt.maDT) }}
              <br />
              <span
                style="color: blue"
                *ngIf="getThoiGianDuyetByMaDT(dt.maDT) == ''"
                >Chưa duyệt</span
              >
              <span *ngIf="getThoiGianDuyetByMaDT(dt.maDT) != ''">
                <span style="color: #15fa00 ;" *ngIf="dt.trangThai">Đạt</span>
                <span style="color: red" *ngIf="!dt.trangThai">Chưa đạt</span>
              </span>
            </b>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
