<div class="row functional-wrapper">
   <div class="h-4 p-l-8 p-r-8">
      <div class="detail-item all-members">
         <label class="row ali-center gap-16 ma-b-8 member p-l-8 p-r-8 p-t-8 p-b-8">
            <input (input)="onClickAll($event)" type="checkbox" [checked]="isClickAll" />

            <div class="members-img row ali-center jus-center">
               <i class="fa-solid fa-users" style="color: #ffffff"></i>
            </div>

            <p>Tất cả học viên</p>
         </label>

         <label
            ngClass="member"
            class="row ali-center gap-16 p-l-8 p-r-8 p-t-8 p-b-8"
            *ngFor="let sv of sinhViens"
         >
            <input
               (input)="onChooseSinhVien($event, sv.maSv)"
               type="checkbox"
               [checked]="isClickAll"
            />

            <ng-container *ngIf="sv.gioiTinh === 'Nữ'; then female; else male"> </ng-container>

            <ng-template #female>
               <img class="member-img" src="../../../../../assets/Images/avatar-nu.jpg" alt="" />
            </ng-template>

            <ng-template #male>
               <img class="member-img" src="../../../../../assets/Images/avatar-nam.jpeg" alt="" />
            </ng-template>

            <p class="name">{{ sv.tenSv }}</p>
         </label>
      </div>
   </div>

   <div class="h-8 p-l-8 p-r-8">
      <div class="detail-item file-list">
         <div class="row ali-center functional-wrapper">
            <div *ngFor="let baoCao of baoCaos" class="h-6 p-b-8 p-l-8 p-r-8 p-t-8">
               <div class="file-info">
                  <div class="row ali-center jus-between p-b-12">
                     <p class="name">{{ baoCao.tenSv }}</p>
                     <i
                        class="fa-solid fa-download"
                        style="color: #000000"
                        (click)="onSaveFile(baoCao.name)"
                     ></i>
                  </div>
                  <div class="row ali-center">
                     <img [src]="baoCao.hinh" alt="" class="ma-r-12" />
                     <div>
                        <p class="file-name p-b-4">{{ baoCao.name }}</p>
                        <p class="time">{{ baoCao.tgNop }}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
