<div class="functional-list">
  <ul class="functional-container row ali-center functional-wrapper">
    <li
      class="functional-item row ali-center jus-end flex-1 functional-wrapper"
    >
      <div class="functional-button">
        <button (click)="onShowFormAdd()">Thêm</button>
      </div>
    </li>
  </ul>
</div>

<div class="row functional-wrapper" style="margin-top: '-8px'">
  <div class="h-4 p-r-8 p-l-8 p-t-8 p-b-8" *ngFor="let h of hoiDongs">
    <div class="detail-item">
      <div class="row council-item jus-betwwen">
        <p class="label">Hội đồng: </p>
        <p class="description">{{ h.tenHD }}</p>
      </div>
      <div class="row council-item jus-betwwen">
        <p class="label">Ngày lập:</p>
        <p class="description">{{ dateFormat(h.ngayLap) }}</p>
      </div>
      <div class="row council-item jus-betwwen">
        <p class="label">Ngày bảo vệ:</p>
        <p class="description">{{ dateFormat(h.thoiGianBD) }}</p>
      </div>
      <div class="row council-item jus-betwwen">
        <p class="label">Địa điểm:</p>
        <p class="description">{{ h.diaDiem }}</p>
      </div>
      <div class="row council-item jus-betwwen">
        <p class="label">Chủ tịch:</p>
        <p class="description">{{ h.chuTich.tenGV }}</p>
      </div>

      <div class="row council-item jus-betwwen">
        <p class="label">Thư ký:</p>
        <p class="description">{{ h.thuKy.tenGV }}</p>
      </div>

      <div class="row council-item jus-betwwen">
        <p class="label">Ủy viên:</p>
        <div class="description">
          <p *ngFor="let u of h.uyViens">{{ u.tenGV }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="create" (click)="handleToggleAdd()"></div>
<form id="create_box" [formGroup]="hoiDong.form" class="form">
  <h2 class="title">THÊM HỘI ĐỒNG MỚI</h2>

  <div class="row form-list form">
    <div class="h-6 p-l-12 p-r-12">
      <label class="form-control row ali-center form-control">
        <p class="label">Mã hội đồng</p>
        <div class="form-value">
          <input type="text" formControlName="maHd" class="form-input" />
          <p class="error-mess"></p>
        </div>
      </label>

      <label class="form-control row ali-center form-control">
        <p class="label">Tên hội đồng</p>
        <div class="form-value">
          <input type="text" formControlName="tenHd" class="form-input" />
          <p class="error-mess"></p>
        </div>
      </label>

      <label class="form-control form-no-box-shadow row ali-center">
        <p class="label p-b-8">Ngày diễn ra</p>

        <div class="form-value">
          <dp-date-picker
            mode="day"
            formControlName="ngayBD"
            [config]="{
              firstDayOfWeek: 'mo',
              showNearMonthDays: false
            }"
            (onSelect)="onDateChange($event)"
            class="form-input"
          ></dp-date-picker>
          <p class="error-mess"></p>
        </div>
      </label>

      <label class="form-control form-no-box-shadow row ali-center">
        <p class="label p-b-8">Bắt đầu</p>

        <div class="form-value">
          <dp-date-picker
            mode="time"
            formControlName="TGBatDau"
            (onSelect)="onDateChange($event)"
            class="form-input"
          ></dp-date-picker>
          <p class="error-mess"></p>
        </div>
      </label>
    </div>

    <div class="h-6 p-l-12 p-r-12">
      <app-drop-down
        *ngIf="CTInputConfig.items.length > 0"
        label="Chủ tịch"
        placeholder="Tìm giảng viên"
        [items]="CTInputConfig.items"
        [selectedItem]="CTInputConfig.selectedItem"
        primarKey="maGv"
        keyWord="tenGv"
        (onParrentSelect)="onSelectCT($event)"
        (onParrentUnSelect)="onUnSelecCT($event)"
        [isSearchMultiple]="false"
      ></app-drop-down>

      <app-drop-down
        *ngIf="TKInputConfig.items.length > 0"
        label="Thư ký"
        placeholder="Tìm giảng viên"
        [items]="TKInputConfig.items"
        [selectedItem]="TKInputConfig.selectedItem"
        primarKey="maGv"
        keyWord="tenGv"
        (onParrentSelect)="onSelectTK($event)"
        (onParrentUnSelect)="onUnSelectTK($event)"
        [isSearchMultiple]="false"
      ></app-drop-down>

      <label class="form-control row ali-center form-control">
        <p class="label">Địa điểm</p>
        <div class="form-value">
          <input type="text" formControlName="diaDiem" class="form-input" />
          <p class="error-mess"></p>
        </div>
      </label>

      <label class="form-control form-no-box-shadow row ali-center">
        <p class="label p-b-8">Kết thúc</p>

        <div class="form-value">
          <dp-date-picker
            mode="time"
            formControlName="TGKetThuc"
            (onSelect)="onDateChange($event)"
            class="form-input"
          ></dp-date-picker>
          <p class="error-mess"></p>
        </div>
      </label>
    </div>

    <div class="h-12 p-l-12 p-r-12">
      <app-drop-down
        *ngIf="UVInputConfig.items.length > 0"
        label="Ủy viên"
        placeholder="Tìm giảng viên"
        [items]="UVInputConfig.items"
        [selectedItem]="UVInputConfig.selectedItem"
        primarKey="maGv"
        keyWord="tenGv"
        (onParrentSelect)="onSelectUV($event)"
        (onParrentUnSelect)="onUnSelectUV($event)"
      ></app-drop-down>
    </div>
  </div>

  <div class="submit-btn text-right">
    <button class="btn-add" (click)="addHoiDong()">Thêm</button>
  </div>
</form>
