<div id="functional-container">
    <div class="functional-list">
      <ul class="functional-container row ali-center functional-wrapper">
        <li class="functional-item">
          <select
            class="search-select"
            id="search-select"
            (change)="onGetDetaiByMaCn($event)"
          >
            <option value="">Tất cả</option>
            <option *ngFor="let cn of listCn" value="{{ cn.maCn }}">
              {{ cn.tenCn }}
            </option>
          </select>
        </li>
        <li class="functional-item">
          <input
            type="text"
            placeholder="Tìm theo tên..."
            (input)="onSearchName($event)"
          />
        </li>
      </ul>
    </div>
  
  <div id="container">
    <div>
      <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
        <tr>
          <th>Mã ĐT</th>
          <th>Tên đề tài</th>
          <th>Tóm tắt</th>
          <th>Số lượng</th>
          <th>Chuyên ngành</th>
          <th>Giảng viên ra đề</th>
          <th>Đăng ký</th>
        </tr>
        <tbody *ngFor="let dt of listDT">
          <tr class="br-line">
            <td class="text-center">{{ dt.maDT }}</td>
            <td class="text-left">
              <p class="cell-limit" [innerHTML]="dt?.tenDT"></p>
            </td>
            <td class="text-left relative">
              <p class="topic-summary cell-limit" [innerHTML]="dt?.tomTat"></p>
              <span
                class="show-more"
                (click)="openModal(dt)"
                >[Chi tiết]
              </span>
            </td>
            <td class="text-center">{{ dt?.slMin }} - {{ dt?.slMax }}</td>
            <td class="text-center">{{ getTenChuyennganhByMaDT(dt.maDT) }}</td>
            <td class="text-center">{{ getTenGvRadeByMaDT(dt.maDT) }}</td>
            <!-- <td class="text-center">{{ getTenGvDuyetByMaDT(dt.maDT) }}</td> -->
            <td class="text-center">
                <button class="signup-btn" (click)="onSignUpDeTai(dt)">
                  Đăng ký
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div *ngIf="selectedDt" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <div class="column">
        <h2 class="text-center detai-header"><span>Đề tài </span>{{ selectedDt.maDT }}</h2>
        <table>
          <tr>
            <td><strong>Tên đề tài:</strong></td>
            <td>{{ selectedDt.tenDT }}</td>
          </tr>
          <tr>
            <td><strong>Tóm tắt:</strong></td>
            <td>{{ selectedDt.tomTat }}</td>
          </tr>
          <tr>
            <td><strong>Số lượng:</strong></td>
            <td>{{ selectedDt?.slMin }} - {{ selectedDt?.slMax }}</td>
          </tr>
          <tr>
            <td><strong>Chuyên ngành:</strong></td>
            <td>{{ getTenChuyennganhByMaDT(selectedDt.maDT) }}</td>
          </tr>
          <tr>
            <td><strong>Giảng viên ra đề:</strong></td>
            <td>{{ getTenGvRadeByMaDT(selectedDt.maDT) }}</td>
          </tr>
        </table>

        <div class="text-center align-center">
          <button class="signup-btn" (click)="onSignUpDeTai(selectedDt)">
            Đăng ký
          </button>
        </div>
      </div>
  </div>
  </div>

  <div *ngIf="isPopupVisible" class="blur-frame">
    <div *ngIf="isSuccessPopup" class="popup-success">
      <img src="./../../../assets/Images/tich-xanh.png"/>
      <div class="popup-wrapper">
        <h2>Thành công</h2>
        <p>Bạn đã đăng ký thành công đề tài này</p>
        <button (click)="hidePopup()">Đóng</button>
      </div>
    </div>

    <div *ngIf="!isSuccessPopup" class="popup-failed">
      <img src="./../../../assets/Images/that-bai.png"/>
      <div class="popup-wrapper">
        <h2>Thất bại</h2>
        <p *ngIf="isNotHaveDeTai">Không có đề tài để đăng ký trong đợt này</p>
        <p *ngIf="isNotGroupLeader">Bạn không thể đăng ký đề tài do không là trưởng nhóm</p>
        <p *ngIf="isQuantityNotRequired">Số lượng thành viên nhóm không thỏa yêu cầu đề tài</p>
        <p *ngIf="isAlreadySignUpDeTai">Nhóm bạn đã đăng ký đề tài nên không thể đăng ký nữa</p>
        <!-- <p>Bạn đăng ký đề tài này thất bại</p> -->
        <button (click)="hidePopup()">Đóng</button>
      </div>
    </div>
  </div>