<div class='functional-list'>
  <ul class='functional-container row ali-center functional-wrapper'>
    <li
      class='functional-item row ali-center jus-end flex-1 functional-wrapper'
    >
      <div class='functional-button'>
        <button (click)='onSaveHoiDong()'>Lưu</button>
      </div>
    </li>
  </ul>
</div>
<form [formGroup]='form' class='add-form form'>
  <div class='row functional-wrapper'>
    <div class='h-6 p-l-8 p-r-8'>
      <div class='detail-item'>
        <label class='form-control row ali-center'>
          <p class='label p-b-8'>Mã hội đồng</p>
          <div class='form-value'>
            <input
              type='text'
              formControlName='maHd'
              class='form-input'
              [readOnly]='!isAdd'
              (blur)='hoiDong.inputBlur($event)'
            />
            <p class='error-mess'></p>
          </div>
        </label>

        <label class='form-control row ali-center'>
          <p class='label p-b-8'>Tên hội đồng</p>
          <div class='form-value'>
            <input
              type='text'
              formControlName='tenHd'
              class='form-input'
              (blur)='hoiDong.inputBlur($event)'
            />
            <p class='error-mess'></p>
          </div>
        </label>

        <label class='form-control form-no-box-shadow row ali-center'>
          <p class='label p-b-8'>Thời gian bảo vệ</p>

          <div class='form-value'>
            <dp-date-picker
              mode='daytime'
              formControlName='thoiGianBd'
              [config]="{
                firstDayOfWeek: 'mo',
                showNearMonthDays: false
              }"
              (onSelect)='onDateChange($event)'
              class='form-input'
            ></dp-date-picker>
            <p class='error-mess'></p>
          </div>
        </label>

        <label class='form-control row ali-center'>
          <p class='label p-b-8'>Địa điểm</p>
          <div class='form-value'>
            <input
              type='text'
              formControlName='diaDiem'
              class='form-input'
              (blur)='hoiDong.inputBlur($event)'
            />
            <p class='error-mess'></p>
          </div>
        </label>
      </div>
    </div>

    <div class='h-6 p-l-8 p-r-8'>
      <div class='detail-item'>
        <app-drop-down
          #chuTich
          name='chuTich'
          formControlName='chuTich'
          label='Chủ tịch'
          placeholder='Tìm giảng viên'
          [items]='CTInputConfig.items'
          [selectedItem]='CTInputConfig.selectedItem'
          primaryKey='maGv'
          keyWord='tenGv'
          (onParentSelect)='onSelectCT($event)'
          (onParentUnSelect)='onUnSelecCT($event)'
          [isSearchMultiple]='false'
          [isRow]='false'
        ></app-drop-down>

        <app-drop-down
          #thuKy
          name='thuKy'
          formControlName='thuKy'
          label='Thư ký'
          placeholder='Tìm giảng viên'
          [items]='TKInputConfig.items'
          [selectedItem]='TKInputConfig.selectedItem'
          primaryKey='maGv'
          keyWord='tenGv'
          (onParentSelect)='onSelectTK($event)'
          (onParentUnSelect)='onUnSelectTK($event)'
          [isSearchMultiple]='false'
          [isRow]='false'
        ></app-drop-down>

        <app-drop-down
          #uyVien
          name='uyVien'
          formControlName='uyVien'
          label='Ủy viên'
          placeholder='Tìm giảng viên'
          [items]='UVInputConfig.items'
          [selectedItem]='UVInputConfig.selectedItem'
          primaryKey='maGv'
          keyWord='tenGv'
          (onParentSelect)='onSelectUV($event)'
          (onParentUnSelect)='onUnSelectUV($event)'
          [isRow]='false'
        ></app-drop-down>

        <label class='form-control form-no-box-shadow row ali-center'>
          <p class='label p-b-8'>Kết thúc</p>

          <div class='form-value'>
            <dp-date-picker
              mode='time'
              formControlName='thoiGianKt'
              (onSelect)='onDateChange($event)'
              class='form-input'
            ></dp-date-picker>
            <p class='error-mess'></p>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div *ngIf='!isAdd'>
    <div class='detail-item ma-t-16'>
      <p class='list-label p-b-16'>Danh sách đề tài đã chọn</p>

      <div>
        <table [cellPadding]='0' [cellSpacing]='0' class='table'>
          <tr>
            <th>Mã đề tài</th>
            <th>Tên đề tài</th>
            <th>GVHD</th>
            <th>GVPB</th>
            <th>Thao tác</th>
          </tr>
          <tbody>
          <tr *ngFor='let dt of selectedDetais'>
            <td>{{ dt.maDT }}</td>
            <td [innerHTML]='dt.tenDT'></td>
            <td></td>
            <td></td>
            <td class='text-center action' (click)='onRemove(dt)'>Hủy</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class='detail-item ma-t-16'>
      <div class='row ali-center jus-between header p-b-16'>
        <p class='list-label'>Danh sách đề tài</p>

        <label class='form-control row ali-center jus-end h-4'>
          <div class='form-value'>
            <input
              type='text'
              class='form-input'
              placeholder='Tìm đề tài'
              (input)='onSearch($event)'
            />
          </div>
        </label>
      </div>

      <div id='container'>
        <div>
          <table [cellPadding]='0' [cellSpacing]='0' class='table'>
            <tr>
              <th class='text-center'>Mã đề tài</th>
              <th>Tên đề tài</th>
              <th>GVHD</th>
              <th>GVPB</th>
              <th>Thao tác</th>
            </tr>
            <tbody>
            <tr *ngFor='let dt of searchedDetais'>
              <td>{{ dt.maDT }}</td>
              <td [innerHTML]='dt.tenDT'></td>
              <td></td>
              <td></td>
              <td class='text-center action' (click)='onSelect(dt)'>Chọn</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
