<div class="detail-container">
  <div class="row functional-wrapper">
    <div class="h-9 p-l-8 p-r-8" [ngClass]="{ 'h-12': !isTruongBM }">
      <div class="detail-item">
        <div id="container">
          <div>
            <table class="table">
              <tr>
                <th>MSSV</th>
                <th>Họ và tên</th>
                <th>Lớp</th>
                <th>Đề tài</th>
                <th>GV hướng dẫn</th>
                <th>GV phản biện</th>
                <th class="white-space-no-wrap" *ngIf="isTruongBM">Thao tác</th>
              </tr>

              <tr *ngFor="let sv of sinhViens; let i = index">
                <td [ngClass]="{ 'border-bold': sv.isLast }">{{ sv.maSv }}</td>
                <td
                  [ngClass]="{ 'border-bold': sv.isLast }"
                  class="white-space-no-wrap"
                >
                  {{ sv.tenSv }}
                </td>
                <td [ngClass]="{ 'border-bold': sv.isLast }">{{ sv.lop }}</td>
                <td
                  class="border-bold"
                  *ngIf="sv.maDT"
                  [rowSpan]="getRowSpan(sv.maDT)"
                  [innerHtml]="getDeTaiByID(sv.maDT)"
                ></td>

                <td
                  class="border-bold"
                  *ngIf="sv.giangVienHD"
                  [rowSpan]="getRowSpan(sv.maDT)"
                >
                  <p
                    *ngFor="let item of sv.giangVienHD"
                    class="white-space-no-wrap"
                  >
                    {{ item.tenGv }}
                  </p>
                </td>
                <td
                  class="border-bold"
                  *ngIf="sv.giangVienPB"
                  [rowSpan]="getRowSpan(sv.maDT)"
                >
                  <p
                    *ngFor="let item of sv.giangVienPB"
                    class="white-space-no-wrap"
                  >
                    {{ item.tenGv }}
                  </p>
                </td>
                <td
                  class="border-bold update-btn"
                  *ngIf="sv.maDT && isTruongBM"
                  [attr.data-index]="sv.maDT"
                  [rowSpan]="getRowSpan(sv.maDT)"
                  (click)="onUpdate($event)"
                >
                  Thay đổi
                </td>
              </tr>

              <tr *ngFor="let dt of restDeTais">
                <td class="border-bold"></td>
                <td class="border-bold"></td>
                <td class="border-bold"></td>
                <td class="border-bold" [innerHTML]="dt.tenDT"></td>
                <td class="border-bold">
                  <span *ngIf="dt.giangVienHD">
                    <p
                      *ngFor="let item of dt.giangVienHD"
                      class="white-space-no-wrap"
                    >
                      {{ item.tenGv }}
                    </p>
                  </span>
                </td>
                <td class="border-bold">
                  <span *ngIf="dt.giangVienPB">
                    <p
                      *ngFor="let item of dt.giangVienPB"
                      class="white-space-no-wrap"
                    >
                      {{ item.tenGv }}
                    </p>
                  </span>
                </td>
                <td
                  class="border-bold update-btn"
                  *ngIf="dt.maDT && isTruongBM"
                  [attr.data-index]="dt.maDT"
                  (click)="onUpdate($event)"
                >
                  Thay đổi
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="h-3 p-l-8 p-r-8">
      <div class="detail-item" *ngIf="isTruongBM">
        <div class="form-control">
          <div class="row ali-center">
            <p class="label">Mã đề tài:</p>

            <p class="flex-1 text-right">{{ maDt }}</p>
          </div>
        </div>

        <app-drop-down
          #GVHD_Input
          *ngIf="GVHDInputConfig.data"
          label="Giảng viên hướng dẫn"
          placeholder="Tìm giảng viên"
          [items]="GVHDInputConfig.data"
          [selectedItem]="GVHDInputConfig.selectedItem"
          primaryKey="maGv"
          keyWord="tenGv"
          (onParentSelect)="onSelectGVHD($event)"
          (onParentUnSelect)="onUnSelectGVHD($event)"
        ></app-drop-down>

        <app-drop-down
          #GVPB_Input
          *ngIf="GVPBInputConfig.data"
          label="Giảng viên phản biện"
          placeholder="Tìm giảng viên"
          [items]="GVPBInputConfig.data"
          [selectedItem]="GVPBInputConfig.selectedItem"
          primaryKey="maGv"
          keyWord="tenGv"
          (onParentSelect)="onSelectGVPB($event)"
          (onParentUnSelect)="onUnSelectGVPB($event)"
        ></app-drop-down>
      </div>
    </div>
  </div>
</div>
