<div id="functional-container">
    <div class="functional-list">
      <ul class="functional-container row ali-center">
        <li class="functional-item" *ngIf="isTKhoa">
          <select
            class="search-select"
            id="search-select"
            (change)="getDetaiByMaCn($event)"
          >
            <option value="">Tất cả</option>
            <option *ngFor="let cn of listCn" value="{{cn.maCn}}">{{ cn.tenCn }}</option>
          </select>
        </li>

        <li class="functional-item" *ngIf="!isTKhoa && isTBm">
          <select
            class="search-select"
            id="search-select"
            (change)="getGiangVienByMaGv($event)"
          >
            <option value="">Tất cả</option>
            <option *ngFor="let gv of listGv" value="{{gv.maGv}}">{{gv.tenGv}}</option>
          </select>
        </li>
        <li class="functional-item">
          <input
            type="text"
            placeholder="Tìm theo tên..."
            [(ngModel)]="searchName"
          />
        </li>
        <li
          class="functional-item function-wrapper row ali-center jus-end flex-1"
        >
          <div class="functional-button">
            <button (click)="onShowFormAdd()">Ra đề</button>
          </div>
  
          <div class="functional-button">
            <button class="update-btn" (click)="onShowFormapply()">Duyệt</button>
          </div>
  
          <div class="functional-button">
            <button (click)="clickDelete()">Xóa</button>
          </div>
  
          <div class="functional-button">
            <button (click)="onShowFormDrag()">Nhập DS</button>
          </div>
        </li>
      </ul>
  
      <div class="p-t-12">
        <p class="notify" *ngIf="!isSelectedDT">
          (⁎) Giữ CRT + Click để chọn nhiều
        </p>
        <p class="notify" *ngIf="isSelectedDT">
          (⁎) Nhấn Esc để thoát chọn nhiều
        </p>
      </div>
    </div>
    <app-home-danhsachdetai
      [searchName]="searchName"
      [isSelectedDT]="isSelectedDT"
      (returnIsSelectedDT)="setIsSelectedDT($event)"
    ></app-home-danhsachdetai>
  
    <div id="create" (click)="handleToggleAdd()"></div>
    <div id="create_box" [formGroup]="dtAddForm" class="form">
      <div class="form-notify">
        <div class="notify-container">
          <p class="notify-title">Thông báo !</p>
          <p class="notify-content">
            Việc tắt Form sẽ xóa tất cả thông tin hiện đang có trên Form.
          </p>
          <div class="row ali-center jus-end">
            <button class="cancel">Hủy</button>
            <button class="agree">Đồng ý</button>
          </div>
          <div class="progress-bar"></div>
        </div>
      </div>
  
      <div>
        <h2 class="title">THÊM ĐỀ TÀI MỚI</h2>
  
        <div class="row ali-center custome-functional">
          <label class="row ali-center form-control">
            <p class="label">Mã đề tài</p>
            <div class="form-value">
              <input
                class="form-input"
                (blur)="dtForm.inputBlur($event)"
                type="text"
                formControlName="maDT"
              />
              <p class="error-mess"></p>
            </div>
          </label>
  
          <label class="row ali-center form-control">
            <p class="label">Tối thiểu</p>
            <div class="form-value">
              <input
                class="form-input"
                type="number"
                formControlName="slMin"
                (blur)="dtForm.inputBlur($event)"
                [min]="1"
                [max]="slMax"
              />
              <p class="error-mess"></p>
            </div>
          </label>
  
          <label class="row ali-center form-control">
            <p class="label">Tối đa</p>
            <div class="form-value">
              <input
                id="add-min"
                class="form-input"
                type="number"
                formControlName="slMax"
                (blur)="dtForm.inputBlur($event)"
                [defaultValue]="slMax"
                (change)="setSlMax($event)"
                [min]="slMin"
                [max]="5"
              />
              <p class="error-mess"></p>
            </div>
          </label>
        </div>
  
        <div class="form-control">
          <p class="label p-b-8">Tên đề tài</p>
  
          <div class="form-value">
            <quill-editor
              class="form-input topic-name"
              spellcheck="false"
              placeholder=""
              formControlName="tenDT"
              [modules]="{ toolbar: false }"
            >
            </quill-editor>
            <p class="error-mess"></p>
          </div>
        </div>
  
        <div class="form-control">
          <p class="label p-b-8">Tóm tắt</p>
  
          <div class="form-value">
            <quill-editor
              spellcheck="false"
              class="form-input topic-summary"
              placeholder=""
              [modules]="quillConfig"
              formControlName="tomTat"
            ></quill-editor>
            <p class="error-mess"></p>
          </div>
        </div>
      </div>
  
      <div class="submit-btn text-right">
        <button class="ma-r-12" (click)="resetForm()">Làm mới</button>
        <button class="btn-add" (click)="addDeTai()">Thêm đề tài</button>
      </div>
    </div>
  
    <div id="update" class="update_parent" (click)="handleToggleUpdate()"></div>
    <div id="update_box" [formGroup]="dtUpdateForm" class="form update_box_parent">
      <div class="form-notify">
        <div class="notify-container">
          <p class="notify-title">Thông báo !</p>
          <p class="notify-content">
            Có vẻ như bạn chưa lưu thay đổi. Bạn có chắc chắn muốn thoát ?
          </p>
          <div class="row ali-center jus-end">
            <button class="cancel">Hủy
              
            </button>
            <button class="agree">Đồng ý</button>
            <button class="save">Lưu thay đổi và thoát</button>
          </div>
  
          <div class="progress-bar"></div>
        </div>
      </div>
  
      <div>
        <h2 class="title">CẬP NHẬT THÔNG TIN ĐỀ TÀI</h2>
  
        <div class="row ali-center custome-functional">
          <label class="row ali-center form-control">
            <p class="label">Mã đề tài</p>
            <div class="form-value">
              <input
                class="form-input"
                (blur)="dtForm.inputBlur($event)"
                type="text"
                formControlName="maDT"
              />
              <p class="error-mess"></p>
            </div>
          </label>
  
          <label class="row ali-center form-control">
            <p class="label">GV ra đề</p>
            <div class="form-value">
              <input
                class="form-input"
                (blur)="dtForm.inputBlur($event)"
                type="text"
                formControlName="maDT"
              />
              <p class="error-mess"></p>
            </div>
          </label>

          <label class="row ali-center form-control">
            <p class="label">Ngày duyệt</p>
            <div class="form-value">
              <input
                class="form-input"
                (blur)="dtForm.inputBlur($event)"
                type="text"
                formControlName="maDT"
              />
              <p class="error-mess"></p>
            </div>
          </label>
        </div>
  
        <div class="form-control">
          <p class="label p-b-8">Tên đề tài</p>
  
          <div class="form-value">
            <quill-editor
              class="form-input topic-name"
              spellcheck="false"
              placeholder=""
              formControlName="tenDT"
              [modules]="{ toolbar: false }"
            >
            </quill-editor>
            <p class="error-mess"></p>
          </div>
        </div>
  
        <div class="form-control">
          <p class="label p-b-8">Tóm tắt</p>
  
          <div class="form-value">
            <quill-editor
              spellcheck="false"
              class="form-input topic-summary"
              placeholder=""
              formControlName="tomTat"
              [modules]="quillConfig"
            ></quill-editor>
            <p class="error-mess"></p>
          </div>
        </div>

         <div class="form-control">
          <p class="label p-b-8">Nhận xét</p>
  
          <div class="form-value">
            <quill-editor
              spellcheck="false"
              class="form-input topic-summary"
              placeholder=""
              formControlName="nhanXet"
              [modules]="quillConfig"
            ></quill-editor>
            <p class="error-mess"></p>
          </div>
        </div>
      </div>
  
      <div class="submit-btn text-right">
        <button class="btn-update" (click)="updateDeTai()">
          Cập nhật thông tin
        </button>
      </div>
    </div>
  
    <div id="drag-file" (click)="onCloseDrag($event)"></div>
    <div id="drag-file_box">
      <p class="title">Nhập danh sách</p>
      <p class="description">Nhập danh sách đề tài thông qua 1 file excel</p>
  
      <form
        class="drag-form form row flex-column ali-center jus-center"
        (dragover)="onDragFileOver($event)"
        (dragleave)="onDragFileLeave($event)"
        (drop)="onDropFile($event)"
        (dragenter)="onDragFileOver($event)"
      >
        <input
          type="file"
          class="file-content"
          hidden
          (input)="onFileInput($event)"
        />
        <i class="fa-solid fa-cloud-arrow-up"></i>
        <p>
          Kéo và thả file vào đây hoặc
          <span class="choose-file" (click)="onSelect()">chọn file</span>
        </p>
      </form>
  
      <div class="file-choose" *ngIf="deTaiFile">
        <p class="title">File đã chọn</p>
        <div class="row ali-center file-choose-container">
          <i class="fa-solid fa-file-excel"></i>
          <div class="row ali-center jus-between flex-1">
            <div class="file-info">
              <p class="file-name">{{ deTaiFile.name }}</p>
              <p class="file-size">{{ deTaiFile.size }}</p>
            </div>
            <p class="import-btn" (click)="onReadFile()">Nhập</p>
          </div>
        </div>
      </div>
    </div>
  
    <div id="delete">
      <div class="form-notify">
        <div class="notify-container">
          <p class="notify-title">Thông báo !</p>
          <p class="notify-content">
            Việc xóa sẽ làm tất cả thông tin có liên quan đến đề tài sẽ biến mất.
            Bạn có chắc chắn muốn xóa ?
          </p>
          <div class="row ali-center jus-end">
            <button class="cancel">Hủy</button>
            <button class="agree">Đồng ý</button>
          </div>
  
          <div class="progress-bar"></div>
        </div>
      </div>
    </div>
  </div>
  