<div class="main">
    <div class="top">
        <div class="top-info">
            <h2 class="info-title">Thông tin cá nhân</h2>
            <div class="info-content">
                <div class="info-img">
                    <img *ngIf="data?.gioiTinh == 'Nữ'" src="../../assets/Images/avatar-nu.jpg" alt="Avatar" />
                    <img *ngIf="data?.gioiTinh == 'Nam'" src="../../assets/Images/avatar-nam.jpeg" alt="Avatar" />
                    <br />
                    <a href="" class="detail-link">Xem chi tiết</a>
                </div>
                <div class="info-left">
                    <ul class="info-left-list">
                        <li class="info-left-item">MSGV: <b>{{ data?.maGv }}</b></li>
                        <li class="info-left-item">Họ tên: <b>{{ data?.tenGv }}</b></li>
                        <li class="info-left-item">Giới tính: <b>{{ data?.gioiTinh }}</b></li>
                        <li class="info-left-item">Ngày sinh: <b>{{ data?.ngaySinh }}</b></li>
                    </ul>
                </div>
                <div class="info-right">
                    <li class="info-left-item">Ngày nhận việc: <b>{{ data?.ngayNhanViec }}</b></li>
                    <li class="info-left-item">Email: <b>{{ data?.email }}</b></li>
                    <li class="info-left-item">Số điện thoại: <b>{{ data?.sdt }}</b></li>
                </div>
            </div>
        </div>
        <div class="top-right">
            <div class="top-notifi">
                <div class="top-notifi-count">
                    Thông báo
                    <p class="count">{{ countTB }}</p>
                    <br />
                    <a href="" class="detail-link">Xem chi tiết</a>
                </div>
                <div>
                    <img src="./../../../assets/Images/thong-bao.png" width="100" alt="" />
                </div>
            </div>
            <div class="top-plan">
                <div class="top-notifi-count">
                    Kế hoạch
                    <p class="count">{{ countTB }}</p>
                    <a href="" class="detail-link">Xem chi tiết</a>
                </div>
                <div>
                    <img src="./../../../assets/Images/ke-hoach.png" width="80" alt="" />
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <ul class="navbar-list">
            <li class="navbar-item">
                <a routerLink="/admin/thong-bao" class="navbar-link">
                    <img class="navbar-icon" src="../../assets/Images/thong-bao.png" alt="" width="48" />
                    <br />
                    Thông báo
                </a>
            </li>
            <li class="navbar-item">
                <a  routerLink="/admin/ke-hoach" class="navbar-link">
                    <img class="navbar-icon" src="../../assets/Images/ke-hoach.png" alt="" width="48" />
                    <br />
                    Kế hoạch
                </a>
            </li>
            <li class="navbar-item">
                <a routerLink="/admin/giang-vien" class="navbar-link">
                    <img class="navbar-icon" src="../../assets/Images/giang-vien.png" alt="" width="48" />
                    <br />
                    Giảng viên
                </a>
            </li>
            <li class="navbar-item">
                <a routerLink="/admin/phan-cong" class="navbar-link">
                    <img class="navbar-icon" src="../../assets/Images/phan-cong.png" alt="" width="48" />
                    <br />
                    Phân công
                </a>
            </li>
            <li class="navbar-item">
                <a routerLink="/admin/de-tai" class="navbar-link">
                    <img class="navbar-icon" src="../../assets/Images/de-tai.png" alt="" width="48" />
                    <br />
                    Đề tài
                </a>
            </li>
            <li class="navbar-item">
                <a routerLink="/admin/sinh-vien" class="navbar-link">
                    <img class="navbar-icon" src="../../assets/Images/sinh-vien.png" alt="" width="48" />
                    <br />
                    Sinh viên
                </a>
            </li>
            <li class="navbar-item">
                <a routerLink="/admin/hoi-dong" class="navbar-link">
                    <img class="navbar-icon" src="../../assets/Images/hoi-dong.png" alt="" width="48" />
                    <br />
                    Hội đồng
                </a>
            </li>
            <li class="navbar-item">
                <a routerLink="/admin/quan-ly-chung" class="navbar-link">
                    <img class="navbar-icon" src="../../assets/Images/cai-dat.png" alt="" width="48" />
                    <br />
                    Quản lý chung
                </a>
            </li>
        </ul>
    </div>

    <div class="bottom">
        <div class="bottom-left">
            <h3 class="bottom-title">Kế hoạch thực hiện</h3>
            <ul class="bottom-notifi-list">
                <li class="bottom-notifi-item">
                    <div class="bottom-notifi-img-l">
                        <img src="../../assets/Images/img-test.jpg" alt="" />
                    </div>
                    <div class="bottom-notifi-link">
                        <a href="">
                            <i class="icon-cal fa-regular fa-calendar"></i>
                            <span class="date">01/01/2022</span>
                            <br />  
                            <b>Hội nghị Quốc tế FDSE năm 2023</b>
                        </a>
                    </div>
                </li>
                <li class="bottom-notifi-item">
                    <div class="bottom-notifi-img-l">
                        <img src="../../assets/Images/img-test.jpg" alt="" />
                    </div>
                    <div class="bottom-notifi-link">
                        <a href="">
                            <i class="icon-cal fa-regular fa-calendar"></i>
                            <span class="date">01/01/2022</span>
                            <br />
                            <b>Thông báo về việc nộp giấy khám sức khỏe và tổ chức khám sức khỏe định kỳ năm học 2022-2023 (áp dụng cho khóa 11DH)</b>
                        </a>
                    </div>
                </li>
                <li class="bottom-notifi-item">
                    <div class="bottom-notifi-img-l">
                        <img src="../../assets/Images/img-test.jpg" alt="" />
                    </div>
                    <div class="bottom-notifi-link">
                        <a href="">
                            <i class="icon-cal fa-regular fa-calendar"></i>
                            <span class="date">01/01/2022</span>
                            <br />
                            <b>Thông báo về việc phản hồi điểm rèn luyện học kỳ 1 năm học 2022-2023</b>
                        </a>
                    </div>
                </li>
            </ul>                        
        </div>
        <div class="bottom-right">
            <h3 class="bottom-title">Thông báo</h3>
            <ul class="bottom-notifi-list">
                <li class="bottom-notifi-item">
                    <div class="bottom-notifi-img">
                        <img src="../../assets/Images/img-test.jpg" alt="" />
                    </div>
                    <div class="bottom-notifi-link">
                        <a href=""><b>Hội nghị Quốc tế FDSE năm 2023</b></a>
                    </div>
                </li>
                <li class="bottom-notifi-item">
                    <div class="bottom-notifi-img">
                        <img src="../../assets/Images/img-test.jpg" alt="" />
                    </div>
                    <div class="bottom-notifi-link">
                        <a href=""><b>Thông báo về việc nộp giấy khám sức khỏe và tổ chức khám sức khỏe định kỳ năm học 2022-2023 (áp dụng cho khóa 11DH)</b></a>
                    </div>
                </li>
                <li class="bottom-notifi-item">
                    <div class="bottom-notifi-img">
                        <img src="../../assets/Images/img-test.jpg" alt="" />
                    </div>
                    <div class="bottom-notifi-link">
                        <a href=""><b>Thông báo về việc phản hồi điểm rèn luyện học kỳ 1 năm học 2022-2023</b></a>
                    </div>
                </li>
                <li class="bottom-notifi-item">
                    <div class="bottom-notifi-img">
                        <img src="../../assets/Images/img-test.jpg" alt="" />
                    </div>
                    <div class="bottom-notifi-link">
                        <a href=""><b>Thông báo về việc tổ chức đối thoại với đại diện sinh viên năm học 2022-2023</b></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
