<div id="container">
  <div class="functional-list">
    <div class="functional-container">
      <div class="row jus-between ali-center">
        <div class="row ali-center gap-24">
          <div class="row ali-center past status">
            <div class="color"></div>
            <div class="note">Đã qua</div>
          </div>
          <div class="row ali-center today status">
            <div class="color"></div>
            <div class="note">Hôm nay</div>
          </div>
          <div class="row ali-center future status">
            <div class="color"></div>
            <div class="note">Sắp tới</div>
          </div>
        </div>

        <div class="row ali-center jus-end h-100 functional-wrapper">
          <div class="functional-button">
            <div class="row ali-center calendar-btn" [formGroup]="lich.form">
              <img src="../../.././assets/Images/calendar.png" alt="" />
              <dp-date-picker
                #dayPicker
                mode="day"
                id="day"
                formControlName="ngayHienTai"
                [config]="{
                  firstDayOfWeek: 'mo',
                  showNearMonthDays: false,
                  opens: 'right'
                }"
                (onSelect)="onSelectDate($event)"
                class="button"
              ></dp-date-picker>
            </div>
          </div>

          <button class="functional-button">
            <button (click)="onClickPrev()">Tuần trước</button>
          </button>
          <button class="functional-button">
            <button (click)="onClickCurrent()">Hiện tại</button>
          </button>
          <button class="functional-button">
            <button (click)="onClickNext()">Tuần tới</button>
          </button>
          <button class="functional-button">
            <button (click)="onClickNext()">Thêm lịch</button>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="relative">
    <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
      <thead class="days">
        <tr>
          <th class="time"></th>
          <th *ngFor="let date of dateOfWeek">
            <div class="day" [ngClass]="{ active: compareDate(date) }">
              <p *ngIf="date.getDay() > 0; else sunday">
                Thứ {{ date.getDay() + 1 }}
              </p>
              <ng-template #sunday>Chủ nhật</ng-template>
              <p>{{ format(date) }}</p>
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr
          [ngClass]="{ hour: time.minute === 0, minute: time.minute > 0 }"
          *ngFor="let time of times; let i = index"
        >
          <ng-container
            *ngIf="time.minute === 0; then hour; else minute"
          ></ng-container>

          <ng-container *ngIf="time.day === 1; then schedule; else empty">
          </ng-container>

          <ng-container *ngIf="time.day === 2; then schedule; else empty">
          </ng-container>

          <ng-container *ngIf="time.day === 3; then schedule; else empty">
          </ng-container>

          <ng-container *ngIf="time.day === 4; then schedule; else empty">
          </ng-container>

          <ng-container *ngIf="time.day === 5; then schedule; else empty">
          </ng-container>

          <ng-container *ngIf="time.day === 6; then schedule; else empty">
          </ng-container>

          <ng-container *ngIf="time.day === 0; then schedule; else empty">
          </ng-container>

          <ng-template #schedule>
            <td
              [ngClass]="{
                today: time.status === 'today',
                past: time.status === 'past',
                future: time.status === 'future'
              }"
              [rowSpan]="time.rowSpan"
              class="rowSpan"
              id="rowSpan"
              [attr.data-index]="time.index"
            >
              <div class="calendar-item">
                <p class="font-semi" [innerHTML]="time.name"></p>

                <div class="p-t-8 info">
                  <p>
                    Thời gian:
                    <span
                      >{{ time.hour }}:{{ time.minute }} - {{ time.hourEnd }}:{{
                        time.minuteEnd
                      }}</span
                    >
                  </p>
                  <p>
                    Địa điểm:
                    <span>{{ time.place }}</span>
                  </p>
                  <p>
                    Loại lịch: <span>{{ time.type }}</span>
                  </p>
                </div>
              </div>
            </td>
          </ng-template>

          <ng-template #hour>
            <td class="text-center">
              {{ time.hour < 10 ? "0" + time.hour : time.hour }}:00
            </td>
          </ng-template>

          <ng-template #minute>
            <td class="text-center">
              <p>{{ time.minute }}</p>
            </td>
          </ng-template>

          <ng-template #empty>
            <td></td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>
