.calendar {
   border: 1px solid #d1d4d7;
   background: #ffff;
}

.days {
   position: sticky;
   top: 131px;
   z-index: 10;
}

.days .day {
   flex: 1;
   background: #fafafa;
   color: #5c676f;
   height: 65px;
   padding: 4px;
   border-right: 1px solid #d1d4d7;
   border-bottom: 1px solid #d1d4d7;
   font-size: 1.2rem;

   &:last-child {
      border-right: none;
   }

   &:first-child {
      flex-basis: 60px;
      max-width: 60px;
   }

   .active {
      background: #195ce5;
      color: #ffff;
      border-radius: 10px;
   }
}

.time {
   flex-basis: 60px;
   max-width: 60px;
   height: 80px;
   font-size: 1.35rem;
   position: relative;
   background: #fafafa;
   border-right: 1px solid #d1d4d7;

   p {
      height: 20px;
      line-height: 1.5;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      color: #545a5e;
   }
}

.schedule {
   padding: 4px;
   flex: 1;
   border-right: 1px solid #d1d4d7;

   &:last-child {
      border-right: none;
   }
}

.calendar-item {
   position: absolute;
   padding: 8px;
   border-radius: 10px;
   border: 2px solid #ebeced;
   overflow: hidden;
   transition: all 0.2s linear;

   &.past {
      background: #e4d37e;
   }

   &.today {
      background: #85d4e8;
   }

   &.future {
      background: #85e796;
   }

   &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(25, 92, 229, 0.8);
   }

   &.active {
      height: auto !important;
   }

   .name {
      font-size: 1.2rem;
   }

   .info {
      font-size: 1.2rem;
   }
}

.calendar-btn {
   background: #ffff;
   border-radius: 5px;
   cursor: pointer;
   padding: 0 0 0 4px;
   width: 150px;

   img {
      width: 32px;
      margin-right: 8px;
   }
}

.functional-button button {
   padding: 8px 12px;
}

.status {
   font-size: 1.4rem;
   font-weight: 500;

   .color {
      width: 48px;
      height: 24px;
      border-radius: 8px;
      margin-right: 8px;
   }
}

.past {
   .color {
      background: #e4d37e;
   }
}

.today {
   .color {
      background: #85d4e8;
   }
}

.future {
   .color {
      background: #85e796;
   }
}
