.table tr th {
  width: calc(100% / 7);
  background: #fafafa;
  color: #5c676f;
  height: 65px;
  padding: 4px 8px;
  border: 1px solid #d1d4d7;
}

.table {
  tbody td {
    border: none;
    border-right: 1px solid #d1d4d7;
    vertical-align: top;
    height: 16px !important;
    padding-top: 8px;
    padding-bottom: 0;
  }

  tr:last-child {
    td {
      margin-bottom: 8px;
    }
  }
}

.day {
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.day.active {
  background: #195ce5;
  color: #ffff;
}

.table tr th.time {
  width: 80px;
}

.day .active {
  background: #195ce5;
  color: #ffff;
  height: 100%;
  border-radius: 10px;
}

.days {
  position: sticky;
  top: 131px;
  z-index: 10;
}

.hour td:first-child {
  font-weight: 500;
  vertical-align: bottom;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1.4rem;
  color: #5c676f;
}

.minute td > p {
  font-size: 1.4rem;
  color: #3479ac;
  font-weight: 500;
}

.rowSpan {
  padding-left: 8px;
  padding-right: 8px;
}

.calendar-item {
  height: 100%;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #ebeced;
  position: relative;
  z-index: 9;
}

.today {
  .calendar-item {
    background: #85d4e8;
  }
}

.past {
  .calendar-item {
    background: #e4d37e;
  }
}

.future {
  .calendar-item {
    background: #85e796;
  }
}

.calendar-btn {
  background: #ffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 0 0 4px;
  width: 150px;

  img {
    width: 32px;
    margin-right: 8px;
  }
}

.functional-button button {
  padding: 8px 12px;
}

.status {
  padding: 0 8px;
  font-size: 1.4rem;
  font-weight: 500;

  .color {
    width: 50px;
    height: 30px;
    border-radius: 8px;
    margin-right: 8px;
  }
}

.past {
  .color {
    background: #e4d37e;
  }
}

.today {
  .color {
    background: #85d4e8;
  }
}

.future {
  .color {
    background: #85e796;
  }
}
