<div id='container'>
  <div>
    <table [cellPadding]='0' [cellSpacing]='0' class='table'>
      <tr>
        <th>Mã GV</th>
        <th>Họ và tên</th>
        <th>Giới tính</th>
        <th>Email</th>
        <th>SĐT</th>
        <th>Bộ môn công tác</th>
      </tr>
      <tbody *ngFor='let gv of temps'>
      <tr
        class='br-line'
        (dblclick)='clickLine($event)'
        (mousedown)='getSelectedLine($event)'
      >
        <td class='text-center'>{{ gv.maGv }}</td>
        <td class='text-left'>
          {{ gv?.hocHam }} {{ gv?.hocVi }} {{ gv?.tenGv }}
        </td>
        <td class='text-center'>{{ gv?.gioiTinh }}</td>
        <td class='text-left'>{{ gv?.email }}</td>
        <td class='text-center'>{{ gv?.sdt }}</td>
        <td class='text-left'>{{ getTenBMById(gv.maBm) }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
