<div *ngIf="isUpdate; else detail">
  <div id="functional-container">
    <div class="functional-list">
      <div
        class="functional-container row ali-center jus-end functional-wrapper"
      >
        <div class="functional-button" *ngIf="isAdd">
          <button (click)="onAdd()">Thêm</button>
        </div>
        <div class="functional-button" *ngIf="!isAdd">
          <button (click)="onUpdate()">Sửa</button>
        </div>
      </div>
    </div>
  </div>

  <form class="tb-form" [formGroup]="baiTap.form">
    <div class="container row p-t-16 functional-wrapper">
      <div class="h-8 p-l-8 p-r-8">
        <div class="detail-item">
          <div class="form-control">
            <p class="label p-b-8">Tên công việc</p>

            <div class="form-value">
              <input
                type="text"
                class="form-input title"
                formControlName="tenCV"
                spellcheck="false"
                (blur)="baiTap.inputBlur($event)"
              />
              <p class="error-mess"></p>
            </div>
          </div>

          <div class="form-control">
            <p class="label p-b-8">Yêu cầu</p>

            <div class="form-value">
              <quill-editor
                spellcheck="false"
                class="form-input"
                placeholder=""
                [modules]="quillConfig"
                formControlName="yeuCau"
              ></quill-editor>
              <p class="error-mess"></p>
            </div>
          </div>

          <div class="form-control">
            <p class="label p-b-8">Mô tả</p>

            <div class="form-value">
              <quill-editor
                spellcheck="false"
                class="form-input"
                placeholder=""
                [modules]="quillConfig"
                formControlName="moTa"
              ></quill-editor>
              <p class="error-mess"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="h-4 p-l-8 p-r-8">
        <div class="detail-item">
          <div class="form-control form-no-box-shadow">
            <p class="label p-b-8">Ngày đến hạn</p>

            <div class="form-value">
              <dp-date-picker
                mode="day"
                id="day"
                formControlName="hanChot"
                [config]="{
                  firstDayOfWeek: 'mo',
                  showNearMonthDays: false
                }"
                (onSelect)="onDateChange($event)"
                class="form-input"
              ></dp-date-picker>
              <p class="error-mess"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div id="delete">
    <div class="form-notify">
      <div class="notify-container">
        <p class="notify-title">Thông báo !</p>
        <p class="notify-content">
          Việc xóa sẽ làm tất cả thông tin có liên quan đến kế hoạch sẽ biến
          mất. Bạn có chắc chắn muốn xóa ?
        </p>
        <div class="row ali-center jus-end">
          <button class="cancel">Hủy</button>
          <button class="agree">Đồng ý</button>
        </div>

        <div class="progress-bar"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #detail>

  <form class="tb-form detail-container">
    <div class="row jus-center">
      <div class="h-8">
        <div class="detail-item">
          <div class="mission-info relative">
            <div class="mission-img row ali-center jus-center ma-r-16">
              <img src="../../../../assets/Images/mission.svg" alt="" />
            </div>

            <div>
              <div class="misstion-name p-b-8">{{ cviec.tenCv }}</div>
              <div class="row ali-center jus-between">
                <div class="teacher-name">{{ giangVien.tenGv }}</div>
                <p class="mission-timeout">Đến hạn {{ thoiHan }}</p>
              </div>

              <div class="mission-request" style="border: none">
                <span>Mô tả: </span>
                <span [innerHTML]="cviec.moTa"></span>
              </div>

              <div class="mission-request">
                <span>Yêu cầu: </span>
                <span [innerHTML]="cviec.yeuCau"></span>
              </div>
            </div>

            <div [formGroup]="dtForm.form" class="commment-form">
              <div class="form-control">
                <div class="user-img row ali-center jus-center ma-r-16">
                  <img src="../../../../assets/Images/user-icon.svg" alt="" />
                </div>

                <div class="form-value">
                  <quill-editor
                    spellcheck="false"
                    class="form-input"
                    placeholder="Thêm nhận xét cho công việc tại đây"
                    [modules]="{ toolbar: false }"
                    formControlName="nhanXet"
                  ></quill-editor>
                  <p class="error-mess"></p>
                </div>
              </div>

              <div class="row jus-end">
                <button class="comment-btn" (click)="onAddComment()">
                  Nhận xét
                </button>
              </div>

              <div class="comment-list">
                <div class="comment-item" *ngFor="let duyet of listTraoDoi">
                  <div class="row">
                    <div>
                      <img
                        src="../../../../assets/Images/user-icon.svg"
                        alt=""
                      />
                    </div>

                    <div class="comment-info">
                      <p class="title">{{ duyet.tenHienThi }}</p>
                      <p class="content" [innerHTML]="duyet.noiDung"></p>
                      <p class="time ma-t-4">{{ format(duyet.thoiGian) }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<!-- <div class="h-4 p-l-8 p-r-8">
  <div class="detail-item">
    <div class="misstion-name p-b-8">Sinh viên nộp báo cáo</div>
    <div class="students" *ngIf="apiHomeworkFiles.length > 0">
      <div class="student">
        <div
          class="row ali-center student-info"
          (click)="onStudentClick($event)"
        >
          <img
            src="../../../../../assets/Images/avatar-nam.jpeg"
            alt=""
          />

          <div class="item-info flex-1 overflow-hidden">
            <p>2001202222 - Ngô Văn Sơn</p>
          </div>

          <i
            class="fa-solid fa-caret-down ma-l-12"
            style="color: #000000"
          ></i>
        </div>

        <div class="collapse-block">
          <div class="files row flex-column gap-16">
            <div class="file row ali-center">
              <img
                src="../../../../../assets/Images/file_type/rar.png"
                alt=""
              />

              <div class="flex-1 overflow-hidden">
                <p>200120222_BaiTapTuan1</p>
                <p>rar</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
