<form class="tb-form">
  <div class="container row p-t-16">
    <div class="h-8 p-l-8 p-r-8">
      <div class="congviec-detail">
        <div class="form-control">
          <div class="congviec-header p-b-8">{{ cviec.tenCv }}</div>
          <div class="teacher-name">{{ giangVien.tenGv }}</div>
          <div class="congviec-yeucau">
            <span>Yêu cầu: </span>
            {{ cviec.yeuCau }}
          </div>
          <div class="row ali-center">
            <p class="mission-timeout">Đến hạn {{ thoiHan }}</p>
          </div>
          <div class="congviec-mota">
            <span>Mô tả: </span>
            {{ cviec.moTa }}
          </div>
        </div>
      </div>

      <div [formGroup]="dtForm.form" class="form-control">
        <div class="form-value">
          <quill-editor
            spellcheck="false"
            class="form-input"
            placeholder=""
            [modules]="{ toolbar: false }"
            formControlName="nhanXet"
          ></quill-editor>
          <p class="error-mess"></p>
        </div>

        <div class="row jus-end">
          <button class="comment-btn" (click)="onAddComment()">
            Bình luận
          </button>
        </div>

        <div class="comment-list">
                <div
                  class="comment-item"
                  *ngFor="let td of this.listTraoDoi"
                >
                  <div class="row">
                    <div>
                      <img
                        src="../../../../assets/Images/user-icon.svg"
                        alt=""
                      />
                    </div>

                    <div class="comment-info">
                      <p class="title">{{ td.tenHienThi }}</p>
                      <p class="content" [innerHTML]="td.noiDung"></p>
                      <p class="time">{{ td.thoiGian }}</p>
                    </div>
                  </div>
                </div>
              </div>
      </div>
    </div>

    <div class="h-4 p-l-8 p-r-8">
      <div class="congviec-detail">
        <div class="form-control form-no-box-shadow">
          <p class="label p-b-8">Bài tập của sinh viên</p>
        </div>
      </div>
    </div>
  </div>
</form>
