<div id="functional-container">
  <div class="functional-list">
    <div class="functional-container row ali-center jus-end functional-wrapper">
      <div class="functional-button">
        <button (click)="onAdd()">Thêm</button>
      </div>
    </div>
  </div>
</div>

<form class="tb-form" [formGroup]="khForm.form">
  <div class="container row p-t-16 functional-wrapper">
    <div class="h-8 p-l-8 p-r-8">
      <div class="detail-item">
        <div class="form-control">
          <p class="label p-b-8">Tên công việc</p>

          <div class="form-value">
            <input
              type="text"
              class="form-input title"
              formControlName="tenCv"
              spellcheck="false"
              (blur)="khForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </div>

        <div class="form-control">
          <p class="label p-b-8">Yêu cầu</p>

          <div class="form-value">
            <quill-editor
              spellcheck="false"
              class="form-input"
              placeholder=""
              [modules]="quillConfig"
              formControlName="yeuCau"
            ></quill-editor>
            <p class="error-mess"></p>
          </div>
        </div>

        <div class="form-control">
          <p class="label p-b-8">Mô tả</p>

          <div class="form-value">
            <quill-editor
              spellcheck="false"
              class="form-input"
              placeholder=""
              [modules]="quillConfig"
              formControlName="moTa"
            ></quill-editor>
            <p class="error-mess"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="h-4 p-l-8 p-r-8">
      <div class="detail-item">
        <div class="form-control form-no-box-shadow">
          <p class="label p-b-8">Ngày đến hạn</p>

          <div class="form-value">
            <dp-date-picker
              mode="day"
              id="day"
              formControlName="ngayKt"
              [config]="{
                firstDayOfWeek: 'mo',
                showNearMonthDays: false
              }"
              (onSelect)="onDateChange($event)"
              class="form-input"
            ></dp-date-picker>
            <p class="error-mess"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div id="delete">
  <div class="form-notify">
    <div class="notify-container">
      <p class="notify-title">Thông báo !</p>
      <p class="notify-content">
        Việc xóa sẽ làm tất cả thông tin có liên quan đến kế hoạch sẽ biến mất.
        Bạn có chắc chắn muốn xóa ?
      </p>
      <div class="row ali-center jus-end">
        <button class="cancel">Hủy</button>
        <button class="agree">Đồng ý</button>
      </div>

      <div class="progress-bar"></div>
    </div>
  </div>
</div>
