<div id="container">
  <div>
    <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
      <tr>
        <th>Mã SV</th>
        <th>Họ và tên</th>
        <th>Email</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
        <th>SĐT</th>
        <th>Lớp</th>
        <th>Chuyên ngành</th>
        <th>Đợt</th>
      </tr>
      <tbody *ngFor="let tg of listTg">
        <tr
          class="br-line"
          (dblclick)="clickLine($event)"
          (mousedown)="getSelectedLine($event)"
        >
          <td class="text-center">{{ tg?.maSv }}</td>
          {{getSinhVienById(tg.maSv)}}
          <td class="text-left">
            {{ sinhVien.tenSv }}
          </td>
          <td class="text-left">{{ sinhVien.email }}</td>
          <td class="text-center">{{ dateFormat(sinhVien.ngaySinh) }}</td>
          <td class="text-center">{{ sinhVien.gioiTinh }}</td>
          <td class="text-center">{{ sinhVien.sdt }}</td>
          <td class="text-center">{{ sinhVien.lop }}</td>
          <td class="text-left">{{ getTenCNById(sinhVien.maCn) }}</td>
          <td class="text-left">{{ tg.namHoc }} - Đợt {{ tg.dot }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
