<div id="functional-container">
  <div class="functional-list">
    <ul class="functional-container row ali-center functional-wrapper">
      <li class="functional-item">
        <select
          class="search-select"
          id="search-select"
          (change)="onGetDetaiByMaCn($event)"
        >
          <option value="">Tất cả</option>
          <option *ngFor="let cn of listCn" value="{{ cn.maCn }}">
            {{ cn.tenCn }}
          </option>
        </select>
      </li>
      <li class="functional-item">
        <input
          type="text"
          placeholder="Tìm theo tên..."
          (input)="onSearchName($event)"
        />
      </li>
      <li class="functional-item">
        <select
          class="search-select"
          id="search-select"
          (change)="onGetDetaiByMaCn($event)"
        >
          <option value="">Tất cả</option>
          <option *ngFor="let dk of listDotdk" [value]="dk.namHoc + dk.dot">
            {{ dk?.namHoc }} ^ Đợt {{ dk?.dot }}
          </option>
        </select>
      </li>
      <li
        class="functional-item functional-wrapper row ali-center jus-end flex-1"
      >
        <div class="functional-button">
          <button [routerLink]="'/home/de-tai/form'">Thêm</button>
        </div>

        <div class="functional-button">
          <button (click)="onShowFormDrag()">Nhập DS</button>
        </div>
      </li>
    </ul>
  </div>

  <div id="drag-file" (click)="onCloseDrag($event)"></div>
  <div id="drag-file_box">
    <p class="title">Nhập danh sách</p>
    <p class="description">Nhập danh sách đề tài thông qua 1 file excel</p>

    <form
      class="drag-form form row flex-column ali-center jus-center"
      (dragover)="onDragFileOver($event)"
      (dragleave)="onDragFileLeave($event)"
      (drop)="onDropFile($event)"
      (dragenter)="onDragFileOver($event)"
    >
      <input
        type="file"
        class="file-content"
        hidden
        (input)="onFileInput($event)"
      />
      <i class="fa-solid fa-cloud-arrow-up"></i>
      <p>
        Kéo và thả file vào đây hoặc
        <span class="choose-file" (click)="onSelect()">chọn file</span>
      </p>
    </form>

    <div class="file-choose" *ngIf="deTaiFile">
      <p class="title">File đã chọn</p>
      <div class="row ali-center file-choose-container">
        <i class="fa-solid fa-file-excel"></i>
        <div class="row ali-center jus-between flex-1">
          <div class="file-info">
            <p class="file-name">{{ deTaiFile.name }}</p>
            <p class="file-size">{{ deTaiFile.size }}</p>
          </div>
          <p class="import-btn" (click)="onReadFile()">Nhập</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="container">
  <div>
    <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
      <tr>
        <th>Mã ĐT</th>
        <th>Tên đề tài</th>
        <th>Tóm tắt</th>
        <th>Số lượng</th>
        <th>Chuyên ngành phù hợp</th>
        <th>Giảng viên ra đề</th>
        <th>Lần cuối duyệt</th>
      </tr>
      <tbody *ngFor="let dt of listDT">
        <tr class="br-line">
          <td class="text-center">{{ dt.maDT }}</td>
          <td class="text-left">
            <p class="cell-limit" [innerHTML]="dt?.tenDT"></p>
          </td>
          <td class="text-left relative">
            <p class="topic-summary cell-limit" [innerHTML]="dt?.tomTat"></p>
            <span
              class="show-more"
              [routerLink]="['/home/de-tai/chi-tiet', { maDt: dt.maDT }]"
              >[Chi tiết]</span
            >
          </td>
          <td class="text-center">{{ dt?.slMin }} - {{ dt?.slMax }}</td>
          <td class="text-center">{{ getTenChuyennganhByMaDT(dt.maDT) }}</td>
          <td class="text-center">{{ getTenGvRadeByMaDT(dt.maDT) }}</td>
          <td class="text-center">
            <b>
              {{ getThoiGianDuyetByMaDT(dt.maDT) }}
              <br />
              <span
                style="color: blue"
                *ngIf="getThoiGianDuyetByMaDT(dt.maDT) == '' && !getTrangthaiDetai(dt.maDT); else isDuyet"
                >Chưa duyệt</span
              >
              <ng-template #isDuyet>
                <span style="color: #15fa00 ;" *ngIf="dt.trangThai">Đạt</span>
                <span style="color: red" *ngIf="!dt.trangThai">Chưa đạt</span>
              </ng-template>
            </b>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
