<form class="container">
  <div class="header">
    <img src="../assets/Images/header_login.jpg" alt="" />
  </div>
  <div id="main">
    <div class="row ali-start jus-center h-100">
      <div id="form__role" class="form">
        <h2 class="title">Bạn là ai ?</h2>
        <div class="row ali-center role-list">
          <div class="select__role text-center">
            <div class="role" (click)="clickRole($event)" name="Admin">
              Giáo vụ
            </div>
          </div>
          <div class="select__role text-center">
            <div class="role" (click)="clickRole($event)" name="Teacher">
              Giảng viên
            </div>
          </div>
          <div class="select__role text-center">
            <div class="role" (click)="clickRole($event)" name="Student">
              Sinh viên
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="activeForm == true; then form"></div>

      <ng-template #form>
        <form
          id="form"
          class="form"
          (ngSubmit)="logIn()"
          [formGroup]="loginForm"
        >
          <p class="title">ĐĂNG NHẬP VÀO HỆ THỐNG</p>
          <label class="form-control row ali-center">
            <p class="label">Tài khoản</p>

            <div class="form-value">
              <input
                (blur)="onBlur($event)"
                type="text"
                formControlName="username"
              />
              <p class="error-mess"></p>
            </div>
          </label>
          <label class="form-control row ali-center">
            <p class="label">Mật khẩu</p>
            <div class="form-value">
              <input
                (blur)="onBlur($event)"
                type="password"
                formControlName="password"
              />
              <p class="error-mess"></p>
            </div>
          </label>
          <label class="form-control row ali-center">
            <p class="label">Mã bảo vệ</p>
            <div class="form-value">
              <input
                (blur)="onBlur($event)"
                class="protect text-center"
                type="text"
                formControlName="protectCode"
              />
              <p class="error-mess"></p>
            </div>
          </label>
          <p class="error-mess">Tài khoản hoặc mật khẩu không tồn tại</p>

          <div class="submit-btn text-right">
            <button type="submit">ĐĂNG NHẬP</button>
          </div>
          <div class="back row ali-center">
            <div>
              <i class="fa-solid fa-chevron-left"></i>
            </div>

            <div>
              <a class="back__link" (click)="clickBack($event)">Quay lại</a>
            </div>
          </div>
        </form>
      </ng-template>
    </div>
  </div>

  <div class="footer row flex-column jus-between">
    <div class="info">
      <p>TRƯỜNG ĐẠI HỌC CÔNG NGHIỆP THỰC PHẨM TP.HỒ CHÍ MINH</p>
      <p>Địa chỉ : 140 Lê Trọng Tấn, Phường Tây Thạnh, Quận Tân Phú, TP.HCM</p>
      <p>Điện thoại: (028)38163319</p>
      <p>Email: info@hufi.edu.vn</p>
    </div>
    <div class="license">
      Bản quyền 2020 - Trường Đại học Công nghiệp Thực phẩm TP. Hồ Chí Minh
    </div>
  </div>
</form>
