<form class="container">
  <div class="header">
    <img src="../assets/Images/header_login.jpg" alt="" />
  </div>
  <div id="main">
    <div class="row ali-start jus-center h-100">

      <form
          id="form"
          class="form center-2"
          (ngSubmit)="logIn()"
          [formGroup]="loginForm"
        >
          <h2 class="title">ĐĂNG NHẬP VÀO HỆ THỐNG</h2>
          <label class="form-control row ali-center">
            <p class="label">Tài khoản</p>

            <div class="form-value">
              <input
                type="text"
                formControlName="username"
                (blur)="onBlur($event)"
                class="form-input"
              />
              <p class="error-mess"></p>
            </div>
          </label>
          <label class="form-control row ali-center">
            <p class="label">Mật khẩu</p>
            <div class="form-value">
              <input
                type="password"
                formControlName="password"
                (blur)="onBlur($event)"
                class="form-input"
              />
              <p class="error-mess"></p>
            </div>
          </label>
          <!-- <label class="form-control row ali-center">
            <p class="label">Mã bảo vệ</p>
            <div class="form-value">
              <input
                class="protect text-center form-input"
                type="text"
                formControlName="protectCode"
                (blur)="onBlur($event)"
              />
              <p class="error-mess"></p>
            </div>
          </label> -->
          <p class="error-mess">Tài khoản hoặc mật khẩu không tồn tại</p>

          <div class="submit-btn text-right">
            <button type="submit">ĐĂNG NHẬP</button>
          </div>
        </form>
    </div>
  </div>

  <div class="footer row flex-column jus-between">
    <div class="info">
      <p>TRƯỜNG ĐẠI HỌC CÔNG NGHIỆP THỰC PHẨM TP.HỒ CHÍ MINH</p>
      <p>Địa chỉ : 140 Lê Trọng Tấn, Phường Tây Thạnh, Quận Tân Phú, TP.HCM</p>
      <p>Điện thoại: (028)38163319</p>
      <p>Email: info@hufi.edu.vn</p>
    </div>
    <div class="license">
      Bản quyền 2020 - Trường Đại học Công nghiệp Thực phẩm TP. Hồ Chí Minh
    </div>
  </div>
</form>
