<form class="container">
  <div class="header">
    <img src="../assets/Images/header_login.jpg" alt="" />
  </div>
  <div id="main">
    <div class="row ali-start jus-center h-100">
      <div id="form__role">
        <h2 class="text-center">Bạn là ai ?</h2>
        <div class="row ali-center role-list">
          <div class="select__role text-center">
            <div class="role" (click)="clickRole($event)" name="Admin">
              Giáo vụ
            </div>
          </div>
          <div class="select__role text-center">
            <div class="role" (click)="clickRole($event)" name="Teacher">
              Giảng viên
            </div>
          </div>
          <div class="select__role text-center">
            <div class="role" (click)="clickRole($event)" name="Student">
              Sinh viên
            </div>
          </div>
        </div>
      </div>

      <form
        id="form"
        onsubmit="return false"
        (submit)="logIn()"
        [formGroup]="loginForm"
      >
        <label class="input row ali-center">
          <p class="label">Mã đăng nhập</p>
          <input class="text flex-1" type="text" formControlName="username" />
        </label>
        <label class="input row ali-center">
          <p class="label">Mật khẩu</p>
          <input class="text flex-1" type="password" formControlName="password" />
        </label>
        <label class="input row ali-center">
          <p class="label">Mã bảo vệ</p>
          <input
            class="text flex-1 protect"
            type="text"
            maxlength="4"
            name="securitycode"
          />
        </label>
        <div class="button text-right">
          <button type="submit">ĐĂNG NHẬP</button>
        </div>
        <div class="back">
          <a class="back__link" (click)="clickBack($event)">Quay lại</a>
        </div>
      </form>
    </div>
  </div>

  <div class="footer row flex-column jus-between">
    <div class="info">
      <p>TRƯỜNG ĐẠI HỌC CÔNG NGHIỆP THỰC PHẨM TP.HỒ CHÍ MINH</p>
      <p>Địa chỉ : 140 Lê Trọng Tấn, Phường Tây Thạnh, Quận Tân Phú, TP.HCM</p>
      <p>Điện thoại: (028)38163319</p>
      <p>Email: info@hufi.edu.vn</p>
    </div>
    <div class="license">
      Bản quyền 2020 - Trường Đại học Công nghiệp Thực phẩm TP. Hồ Chí Minh
    </div>
  </div>
</form>
