<div id="functional-container">
  <div class="search-list">
    <ul class="search-container row ali-center">
      <li class="search-item">
        <input
          type="text"
          placeholder="Tìm theo tiêu đề..."
          [(ngModel)]="searchName"
        />
      </li>
      <li class="search-item">
        <select
          class="search-select"
          id="sort-select"
          (change)="sortThongBao($event)"
        >
          <option value="">Mặc định</option>
          <option value="asc-name">Tăng theo tiêu đề</option>
          <option value="desc-name">Giảm theo tiêu đề</option>
        </select>
      </li>
      <li class="search-item row ali-center jus-end flex-1">
        <button class="search-button" (click)="onShowFormAdd()">Thêm</button>
        <button class="search-button" (click)="onShowFormUpdate()">Sửa</button>
        <button class="search-button" (click)="clickDelete()">Xóa</button>
      </li>
    </ul>

    <div class="p-t-12">
      <p class="notify" *ngIf="!isSelectedTB">
        (⁎) Giữ CRT + Click để chọn nhiều
      </p>
      <p class="notify" *ngIf="isSelectedTB">
        (⁎) Nhấn Esc để thoát chọn nhiều
      </p>
    </div>
  </div>

  <!-- <app-ministry-danhsachthongbao
    [searchName]="searchName"
    [isSelectedTB]="isSelectedTB"
    (returnIsSelectedSV)="setIsSelectedTB($event)"
  ></app-ministry-danhsachthongbao> -->
  <router-outlet></router-outlet>

  <!-- <div id="create" (click)="handleToggleAdd()"></div>
  <form id="create_box" [formGroup]="tbAddForm" class="form">
    <div class="form-notify">
      <div class="notify-container">
        <p class="notify-title">Thông báo !</p>
        <p class="notify-content">
          Việc tắt Form sẽ xóa tất cả thông tin hiện đang có trên Form.
        </p>
        <div class="row ali-center jus-end">
          <button class="cancel">Hủy</button>
          <button class="agree">Đồng ý</button>
        </div>
        <div class="progress-bar"></div>
      </div>
    </div>

    <h2 class="title">THÊM THÔNG BÁO MỚI</h2>

    <div class="row form-list form">
      <div class="h-6 p-l-12 p-r-12">
        <label class="form-control row ali-center form-control">
          <p class="label">Mã sinh viên</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="maSv"
              (blur)="tbForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="form-control row ali-center form-control">
          <p class="label">Tên sinh viên</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="tenSv"
              (blur)="tbForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="form-control row ali-center form-control">
          <p class="label">Ngày sinh</p>
          <div class="form-value">
            <input
              type="date"
              formControlName="ngaySinh"
              (blur)="tbForm.inputBlur($event)"
            />

            <p class="error-mess"></p>
          </div>
        </label>

        <label class="form-control row ali-center form-control">
          <p class="label">Giới tính</p>
          <div class="form-value">
            <select
              formControlName="gioiTinh"
              (blur)="tbForm.inputBlur($event)"
            >
              <option value="Nam">Nam</option>
              <option value="Nữ">Nữ</option>
            </select>
            <p class="error-mess"></p>
          </div>
        </label>
      </div>

      <div class="h-6 p-l-12 p-r-12">
        <label class="input row ali-center form-control">
          <p class="label">Lớp</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="lop"
              (blur)="tbForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="input row ali-center form-control">
          <p class="label">Email</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="email"
              (blur)="tbForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="input row ali-center form-control">
          <p class="label">Số điện thoại</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="sdt"
              maxlength="10"
              (blur)="tbForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>
      </div>
    </div>

    <div class="submit-btn text-right">
      <button class="ma-r-12" (click)="tbForm.resetForm('#create_box')">
        Làm mới
      </button>
      <button class="btn-add" (click)="addSinhVien()">Thêm sinh viên</button>
    </div>
  </form>

  <div id="update" (click)="handleToggleUpdate()"></div>
  <form id="update_box" [formGroup]="tbUpdateForm" class="form">
    <div class="form-notify">
      <div class="notify-container">
        <p class="notify-title">Thông báo !</p>
        <p class="notify-content">
          Có vẻ như bạn chưa lưu thay đổi. Bạn có chắc chắn muốn thoát ?
        </p>
        <div class="row ali-center jus-end">
          <button class="cancel">Hủy</button>
          <button class="agree">Đồng ý</button>
          <button class="save">Lưu thay đổi và thoát</button>
        </div>

        <div class="progress-bar"></div>
      </div>
    </div>

    <h2 class="title">CẬP NHẬT THÔNG TIN GIẢNG VIÊN</h2>
    <div class="row form-list form">
      <div class="h-6 p-l-12 p-r-12">
        <label class="form-control row ali-center form-control">
          <p class="label">Mã sinh viên</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="maSv"
              (blur)="tbForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="form-control row ali-center form-control">
          <p class="label">Tên sinh viên</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="tenSv"
              (blur)="tbForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="form-control row ali-center form-control">
          <p class="label">Ngày sinh</p>
          <div class="form-value">
            <input
              type="date"
              formControlName="ngaySinh"
              (blur)="tbForm.inputBlur($event)"
            />

            <p class="error-mess"></p>
          </div>
        </label>

        <label class="form-control row ali-center form-control">
          <p class="label">Giới tính</p>
          <div class="form-value">
            <select
              formControlName="gioiTinh"
              (blur)="tbForm.inputBlur($event)"
            >
              <option value="Nam">Nam</option>
              <option value="Nữ">Nữ</option>
            </select>
            <p class="error-mess"></p>
          </div>
        </label>
      </div>

      <div class="h-6 p-l-12 p-r-12">
        <label class="input row ali-center form-control">
          <p class="label">Lớp</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="lop"
              (blur)="tbForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="input row ali-center form-control">
          <p class="label">Email</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="email"
              (blur)="tbForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="input row ali-center form-control">
          <p class="label">Số điện thoại</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="sdt"
              maxlength="10"
              (blur)="tbForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>
      </div>
    </div>

    <div class="submit-btn text-right">
      <button class="btn-update" (click)="updateSinhVien()">
        Cập nhật thông tin
      </button>
    </div>
  </form> -->

  <div id="delete">
    <div class="form-notify">
      <div class="notify-container">
        <p class="notify-title">Thông báo !</p>
        <p class="notify-content">
          Việc xóa sẽ làm tất cả thông tin có liên quan đến sinh viên sẽ biến
          mất. Bạn có chắc chắn muốn xóa ?
        </p>
        <div class="row ali-center jus-end">
          <button class="cancel">Hủy</button>
          <button class="agree">Đồng ý</button>
        </div>

        <div class="progress-bar"></div>
      </div>
    </div>
  </div>
</div>
