.selected-box {
  min-height: 48px;
  width: 100%;
  padding: 11.3px 12px;
  border-radius: 5px;
  border: 1px solid #eae9e9;
  background: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  min-height: 40px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px rgba(64, 153, 213, 0.859);
  }
}

.form-value {
  position: relative;

  .dropdown {
    display: none;
    position: absolute;
    z-index: 10;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
    padding: 16px;
    top: 120%;
    left: 0;
    width: 100%;
    z-index: 12;
  }
}

.form-value.active {
  i {
    transform: rotate(180deg);
  }

  .dropdown {
    display: block;
  }
}

.item {
  padding: 8px 0;
  border-left: 0px solid transparent;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  padding-right: 12px;

  &:hover {
    padding-left: 8px;
    border-left: 3px solid #2378b8;
  }

  &.active {
    padding-left: 12px;
    border-left: 5px solid #2378b8;

    &:hover {
      padding-left: 12px;
      border-left: 5px solid #2378b8;
    }
  }
}

.list {
  max-height: 250px;
  overflow-y: auto;
}

.dropdown input {
  border: none;
  border-bottom: 2px solid #c6c6c6;
  border-radius: 0;
  padding-left: 0;
}

.selected-item .item {
  border: 1px solid #eae9e9;
  padding: 4px;
  border-radius: 4px;
}

.selected-item .item.noActive {
  border: none;
  padding: 0;
  border-radius: 0;
  margin: 0;
}

.form-control {
  .label {
    width: auto;
  }
}

.form-control.row {
  align-items: center;

  .label {
    width: 120px;
  }
}
