.list-header {
  position: sticky;
  top: 131px;
}

.add-btn {
  width: 4px;
  padding: 0;
}

.add-all {
  width: 70px;
}

.none {
  display: none;
}

.search__item select {
  width: 230px;
  height: 40px;
}
