<div id="container">
    <div>
      <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
        <tr>
          <th>Mã GV</th>
          <th>Họ và tên</th>
          <th>Email</th>
          <!-- <th>Ngày sinh</th> -->
          <th>Giới tính</th>
          <th>SĐT</th>
          <th>Số ĐT được giao</th>
          <th>Số ĐT đạt / Số ĐT ra</th>
          <th>Số ĐT hướng dẫn</th>
          <th>Số ĐT phản biện</th>
        </tr>
        <tbody *ngFor="let gv of temps">
          <tr>
            <td class="text-center">{{ gv.maGv }}</td>
            <td class="text-left">
              <i>{{ gv?.hocHam }} {{ gv?.hocVi }}</i> {{ gv?.tenGv }}
            </td>
            <td class="text-left">{{ gv?.email }}</td>
            <td class="text-center">{{ gv?.gioiTinh }}</td>
            <td class="text-center">{{ gv?.sdt }}</td>
            <td class="text-center">{{ gv.cNhiemVu && gv.cNhiemVu.length > 0 ? gv.cNhiemVu[0] : '' }}</td>
            <td class="text-center">{{ gv.cNhiemVu && gv.cNhiemVu.length > 1 ? gv.cNhiemVu[1] : '' }} / {{ gv.cNhiemVu && gv.cNhiemVu.length > 2 ? gv.cNhiemVu[2] : '' }}</td>
            <td class="text-center">{{ gv.cNhiemVu && gv.cNhiemVu.length > 3 ? gv.cNhiemVu[3] : '' }}</td>
            <td class="text-center">{{ gv.cNhiemVu && gv.cNhiemVu.length > 4 ? gv.cNhiemVu[4] : '' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  