<div id="container">
    <div>
      <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
        <tr>
          <th>Mã GV</th>
          <th>Họ và tên</th>
          <th>Email</th>
          <th>Ngày sinh</th>
          <th>Giới tính</th>
          <th>SĐT</th>
          <th>Ngày nhận việc</th>
          <th>Ngày nghỉ</th>
        </tr>
        <tbody *ngFor="let gv of listGV">
          <tr>
            <td class="text-center">{{ gv.maGv }}</td>
            <td class="text-left">
              {{ gv?.hocHam }} {{ gv?.hocVi }} {{ gv?.tenGv }}
            </td>
            <td class="text-left">{{ gv?.email }}</td>
            <td class="text-center">{{ dateFormat(gv.ngaySinh) }}</td>
            <td class="text-center">{{ gv?.gioiTinh }}</td>
            <td class="text-center">{{ gv?.sdt }}</td>
            <td class="text-center">{{ dateFormat(gv.ngayNhanViec) }}</td>
            <td class="text-center">{{ dateFormat(gv.ngayNghi) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  