<header class="header">
    <div class="container">
        <div class="logo">
            <a href="dashboard.component.html" class="back-to-home">
                <img class="logo-image" src="../../assets/Images/sv_logo_dashboard.png"/>
            </a>
        </div>

        <div class="account-header">
            <img class="account-image" src="../../assets/Images/logo_icon.png" alt="">
            <div class="account-name">Huỳnh Thúc Kháng</div>
        </div>
    </div>
</header>
<!-- Body part -->
<div class="body-wrapper">
    <body class="body">
        <div class="relative-info">
            <div class="account-summary">
                <div class="account-summary-tittle">
                    Thông tin
                </div>

                <div class="account-info">
                    <div class="account-info-image">
                        <img src="../../assets/Images/logo_icon.png" alt="" width="100%">
                    </div> 

                    <div class="account-info-form">
                        <form>
                            <div class="form-group">
                                <label class="left-side-info">
                                    <span>MSSV: <span class="text-bold">2001206352</span></span>
                                </label>

                                <label class="right-side-info">
                                    <span>Lớp học: <span class="text-bold">11DHTH2</span></span>
                                </label>
                                <div class="clear"></div>
                            </div>

                            <div class="form-group">
                                <label class="left-side-info">
                                    <span>Họ tên: <span class="text-bold">Nguyễn Hoàng Thùy Gia Long</span></span>
                                </label>

                                <label class="right-side-info">
                                    <span>Khóa học: <span class="text-bold">2022</span></span>
                                </label>
                                <div class="clear"></div>
                            </div>

                            <div class="form-group">
                                <label class="left-side-info">
                                    <span>Giới tính: <span class="text-bold">Nam</span></span>
                                </label>

                                <label class="right-side-info">
                                    <span>Bậc đào tạo: <span class="text-bold">Đại học</span></span>
                                </label>
                                <div class="clear"></div>
                            </div>

                            <div class="form-group">
                                <label class="left-side-info">
                                    <span>Ngày sinh: <span class="text-bold">23/12/2001</span></span>
                                </label>

                                <label class="right-side-info">
                                    <span>Loại hình đào tạo: <span class="text-bold">Chính quy</span></span>
                                </label>
                                <div class="clear"></div>
                            </div>
                        </form>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>

            <div class="btn-right-section">
                <a href="" class="btn-lich-phanbien">Lịch phản biện</a>

                <a href="" class="btn-tintuc">Tin tức</a>
            </div>
        </div>
    </body>

    <div class="navbar-section">
        <a href="" class="btn-chucnang">Chức năng</a>
        <a href="" class="btn-chucnang">Chức năng</a>
        <a href="" class="btn-chucnang">Chức năng</a>
        <a href="" class="btn-chucnang">Chức năng</a>
        <a href="" class="btn-chucnang">Chức năng</a>
        <a href="" class="btn-chucnang">Chức năng</a>
        <a href="" class="btn-chucnang">Chức năng</a>
    </div>
</div>
<!-- Footer -->
<div class="footer">
    <div class="info">
        <p>TRƯỜNG ĐẠI HỌC CÔNG NGHIỆP THỰC PHẨM TP.HỒ CHÍ MINH</p>
        <p>Địa chỉ : 140 Lê Trọng Tấn, Phường Tây Thạnh, Quận Tân Phú, TP.HCM</p>
        <p>Điện thoại: (028)38163319</p>
        <p>Email: info@hufi.edu.vn</p>
    </div>
    <div class="license">
        <p>Bản quyền 2020 - Trường Đại học Công nghiệp Thực phẩm TP. Hồ Chí Minh</p>
    </div>
</div>