<div id="functional-container">
  <div class="functional-list">
    <ul class="functional-container row ali-center">
      <li class="functional-item">
        <select
          class="functional-select"
          id="functional-select"
          (change)="getThamgiaByMaCN($event)"
        >
          <option value="">Tất cả</option>
          <option *ngFor="let cn of listChuyenNganh" [value]="cn?.maCn">
            {{ cn?.tenCn }}
          </option>
        </select>
      </li>
      <li class="functional-item">
        <input
          type="text"
          placeholder="Tìm theo tên..."
          [(ngModel)]="searchName"
        />
      </li>
      <li class="functional-item">
        <select
          class="functional-select"
          id="functional-select"
          (change)="getThamgiaByDotDk($event)"
        >
          <option value="">Tất cả</option>
          <option *ngFor="let dk of listDotDk" [value]="dk.namHoc + dk.dot">
            {{ dk?.namHoc }} ^ Đợt {{ dk?.dot }}
          </option>
        </select>
      </li>
      <li
        class="functional-item function-wrapper row ali-center jus-end flex-1"
      >
        <div class="functional-button">
          <button (click)="onShowFormAdd()">Thêm</button>
        </div>

        <div class="functional-button">
          <button (click)="clickDelete()">Xóa</button>
        </div>
      </li>
    </ul>

    <div class="p-t-12">
      <p class="notify" *ngIf="!isSelectedSV">
        (⁎) Giữ CRT + Click để chọn nhiều
      </p>
      <p class="notify" *ngIf="isSelectedSV">
        (⁎) Nhấn Esc để thoát chọn nhiều
      </p>
    </div>
  </div>

  <app-ministry-danhsachthamgia
    [searchName]="searchName"
  ></app-ministry-danhsachthamgia>

  <div id="create" (click)="handleToggleAdd()"></div>
  <form id="create_box" class="form">
    <h2 class="title">THÊM SINH VIÊN VÀO ĐỢT ĐĂNG KÝ MỚI</h2>
    <div class="row ma-b-4 jus-between">
      <div class="row h-8">
        <div class="h-6 p-r-8">
          <div class="form-control">
            <div class="form-value">
              <select
                class="search-select form-input"
                id="search-select"
                (change)="getSinhvienByMaCN($event)"
              >
                <option value="">Tất cả</option>
                <option *ngFor="let cn of listChuyenNganh" [value]="cn?.maCn">
                  {{ cn?.tenCn }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="h-6 p-l-8">
          <div class="form-control">
            <div class="form-value">
              <select
                class="search-select form-input"
                id="search-select"
                (change)="getSinhvienByNotDotDk($event)"
              >
                <option
                  *ngFor="let dk of listDotDk"
                  [value]="dk.namHoc + dk.dot"
                >
                  {{ dk?.namHoc }} ^ Đợt {{ dk?.dot }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="submit-btn text-right">
        <button class="btn-add" (click)="addThamgia()">Thêm sinh viên</button>
      </div>
    </div>
    <div class="list">
      <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
        <tr class="list-header">
          <th>Mã SV</th>
          <th>Họ và tên</th>
          <th>Lớp</th>
          <th>Chuyên ngành</th>
          <th class="add-all" (click)="toggleAddAll($event)">Tham gia</th>
        </tr>

        <tbody *ngFor="let sv of listSinhVien">
          <tr class="br-line">
            <td class="text-center">{{ sv?.maSv }}</td>
            <td class="text-left">
              {{ sv.tenSv }}
            </td>
            <td class="text-left">{{ sv.lop }}</td>
            <td class="text-center">{{ getTenCnById(sv.maCn) }}</td>
            <td class="text-center add-btn" (click)="toggleAdd($event)">
              <img
                src="../../../assets/Images/tich-xanh.png"
                style="width: 30%"
                class="none"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
