<router-outlet></router-outlet>
<!--<div id="create" (click)="handleToggleAdd()"></div>-->
<!--<form id="create_box" class="form">-->
<!--  <h2 class="title">THÊM SINH VIÊN VÀO ĐỢT ĐĂNG KÝ MỚI</h2>-->
<!--  <div class="row ma-b-4 jus-between">-->
<!--    <div class="row h-8">-->
<!--      <div class="h-6 p-r-8">-->
<!--        <div class="form-control">-->
<!--          <div class="form-value">-->
<!--            <select-->
<!--              class="search-select form-input"-->
<!--              id="search-select"-->
<!--              (change)="getSinhvienByMaCN($event)"-->
<!--            >-->
<!--              <option value="">Tất cả</option>-->
<!--              <option *ngFor="let cn of listChuyenNganh" [value]="cn?.maCn">-->
<!--                {{ cn?.tenCn }}-->
<!--              </option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="h-6 p-l-8">-->
<!--        <div class="form-control">-->
<!--          <div class="form-value">-->
<!--            <select-->
<!--              class="search-select form-input"-->
<!--              id="search-select"-->
<!--              (change)="getSinhvienByNotDotDk($event)"-->
<!--            >-->
<!--              <option-->
<!--                *ngFor="let dk of listDotDk"-->
<!--                [value]="dk.namHoc + dk.dot"-->
<!--              >-->
<!--                {{ dk?.namHoc }} ^ Đợt {{ dk?.dot }}-->
<!--              </option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="submit-btn text-right">-->
<!--      <button class="btn-add" (click)="addThamgia()">Thêm sinh viên</button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="list">-->
<!--    <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">-->
<!--      <tr class="list-header">-->
<!--        <th>Mã SV</th>-->
<!--        <th>Họ và tên</th>-->
<!--        <th>Lớp</th>-->
<!--        <th>Chuyên ngành</th>-->
<!--        <th class="add-all" (click)="toggleAddAll($event)">Tất cả</th>-->
<!--      </tr>-->

<!--      <tbody *ngFor="let sv of listSinhVien">-->
<!--      <tr class="br-line">-->
<!--        <td class="text-center">{{ sv?.maSv }}</td>-->
<!--        <td class="text-left">-->
<!--          {{ sv.tenSv }}-->
<!--        </td>-->
<!--        <td class="text-left">{{ sv.lop }}</td>-->
<!--        <td class="text-center">{{ getTenCnById(sv.maCn) }}</td>-->
<!--        <td class="text-center add-btn" (click)="toggleAdd($event)">-->
<!--          <img-->
<!--            src="../../../assets/Images/tich-xanh.png"-->
<!--            style="width: 30%"-->
<!--            class="none"-->
<!--          />-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</form>-->
<!--<div id="delete">-->
<!--  <div class="form-notify">-->
<!--    <div class="notify-container">-->
<!--      <p class="notify-title">Thông báo !</p>-->
<!--      <p class="notify-content">-->
<!--        Việc xóa sẽ làm tất cả thông tin có liên quan đến sinh viên trong đợt-->
<!--        này sẽ biến mất. Bạn có chắc chắn muốn xóa ?-->
<!--      </p>-->
<!--      <div class="row ali-center jus-end">-->
<!--        <button class="cancel">Hủy</button>-->
<!--        <button class="agree">Đồng ý</button>-->
<!--      </div>-->

<!--      <div class="progress-bar"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
