<div id="functional-container">
  <div class="functional-list">
    <ul class="functional-container row ali-center">
      <li class="functional-item">
        <select
          class="functional-select"
          id="functional-select"
          (change)="getThamgiaByMaCN($event)"
        >
          <option value="">Tất cả</option>
          <option *ngFor="let cn of listChuyenNganh" [value]="cn?.maCn">
            {{ cn?.tenCn }}
          </option>
        </select>
      </li>
      <li class="functional-item">
        <input
          type="text"
          placeholder="Tìm theo tên..."
          [(ngModel)]="searchName"
        />
      </li>
      <li class="functional-item">
        <select
          class="functional-select"
          id="functional-select"
          (change)="getThamgiaByDotDk($event)"
        >
          <option value="">Tất cả</option>
          <option *ngFor="let dk of listDotDk" [value]="dk.namHoc + dk.dot">
            {{ dk?.namHoc }} ^ Đợt {{ dk?.dot }}
          </option>
        </select>
      </li>
      <li
        class="functional-item function-wrapper row ali-center jus-end flex-1"
      >
      </li>
    </ul>
  </div>

  <app-home-danhsachsinhvien
    [searchName]="searchName"
  ></app-home-danhsachsinhvien>

</div>
