<div id="functional-container">
  <div class="search-list">
    <ul class="search-container row ali-center">
      <li class="search-item row ali-center jus-end flex-1">
        <button class="search-button" (click)="onAdd()" *ngIf="maTb == -1">
          Thêm
        </button>
        <button
          class="search-button update-btn"
          (click)="onUpdate()"
          *ngIf="maTb > -1"
        >
          Sửa
        </button>
        <button class="search-button" *ngIf="maTb > -1" (click)="onDelete()">
          Xóa
        </button>
      </li>
    </ul>
  </div>
</div>

<form class="container" [formGroup]="tbForm.form">
  <div class="form-control">
    <p class="label p-b-8">Tiêu đề thông báo</p>

    <div class="form-value">
      <quill-editor
        class="form-input title"
        spellcheck="false"
        placeholder=""
        formControlName="tenTb"
        [modules]="notifyNameConfig"
      >
      </quill-editor>
      <p class="error-mess"></p>
    </div>
  </div>

  <div class="form-control">
    <p class="label p-b-8">Nội dung</p>

    <div class="form-value">
      <quill-editor
        class="form-input content"
        spellcheck="false"
        placeholder=""
        formControlName="noiDung"
        [modules]="notifyContentConfig"
      >
      </quill-editor>
      <p class="error-mess"></p>
    </div>
  </div>

  <div class="form-control">
    <p class="label p-b-8">File đi kèm:</p>

    <div class="form-value">
      <input
        type="file"
        (change)="onChange($event)"
        class="attach-file"
        value="test.pdf"
      />
      <p class="error-mess"></p>
    </div>
  </div>

  <pdf-viewer
    [src]="pdfSrc"
    [render-text]="true"
    [original-size]="false"
    style="width: 60%; height: 100vh; margin: 0 auto; overflow: hidden"
  ></pdf-viewer>
</form>
