<div id="container">
    <ul class="search-list">
        <li class="search-item">
            <a routerLink="" class="search-link">Tất cả</a>
        </li>
        <li class="search-item">
            <a routerLink="" class="search-link">Kỹ thuật phần mềm</a>
        </li>
        <li class="search-item">
            <a routerLink="" class="search-link">Tất cả</a>
        </li>
        <li class="search-item">
            <a routerLink="" class="search-link">Tất cả</a>
        </li>
        <li class="search-item">
            <a routerLink="" class="search-link">Tất cả</a>
        </li>
        <li class="search-item">
            <a routerLink="" class="search-link">Tất cả</a>
        </li>
        <li class="search-item">
            <a routerLink="" class="search-link">Tất cả</a>
        </li>
    </ul>
</div>