#container {
  padding-top: 16px;
}

.item-container {
  cursor: pointer;
}

.list-item {
  padding: 8px 0px;
}

.list-item img {
  width: 120px;
  border-radius: 4px;
}

.list-item .info {
  padding-left: 12px;
}

.first-info img {
  width: 100%;
  padding: 0;
  border-radius: 8px;
}

.name {
  --height: calc(1.6 * 1.3rem * 3);
  font-size: 1.5rem;
  text-align: justify;
  max-height: var(--height);
  overflow: hidden;
  position: relative;
}

.date {
  padding-top: 8px;
  color: #6e6e6e;
  font-size: 1.3rem;

  i {
    font-size: 1.2rem;
    padding-right: 4px;
    color: dodgerblue;
  }
}

// SCSS lời mời
.card .btn {
  min-width: 120px;
  padding: 8px 0;
  font-size: 1.5rem;
  border-radius: 999px;
  background: #f0f2f5;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: #e3e3e3;
  }
}

.card .btn-success {
  background: rgb(35, 197, 35);
  color: #fff;

  &:hover {
    background: rgb(21, 161, 21);
  }
}

.cart-info {
  background: #f0f2f5;
  padding: 8px 12px;
  border-radius: 20px;
}

.card-container img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.cart-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #443f3f;
}

.cart-description {
  font-size: 1.4rem;
  color: #6b6868;
}

.cart-mess {
  padding-top: 8px;
  font-weight: 400;
  max-height: 200px;
  overflow-y: auto;

  span {
    font-weight: 500;
    color: #6b6868;
  }
}

.title {
  font-size: 2rem;
  color: #0066cb;
  font-weight: 700;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-buttons button {
  width: 30%;
  margin-top: 50px;
  padding: 10px 0;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 999px;
}

.modal-buttons button:nth-child(1) {
  background-color: #f0f2f5;

  &:hover {
    background: #e3e3e3;
  }
}

.modal-buttons button:nth-child(2) {
  margin-left: 10px;
  color: #fff;
  background: rgb(35, 197, 35);

  &:hover {
    background: rgb(21, 161, 21);
  }
}

@keyframes popupFadeIn {
  from {
    transform: translate(-50%, 0) scale(0.1);
  }
  to {
    transform: translate(0, 0) scale(1);
  }
}

.popup-failed {
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 360px;
  margin: 0 auto;
  margin-top: 180px;
  text-align: center;
  background-color: #fff;
  font-size: 16.25px;
  border-radius: 10px;
  animation: popupFadeIn ease 0.4s;
}

.popup-failed img {
  margin-top: -15%;
  width: 30%;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.popup-wrapper {
  padding: 0 32px;
}

.popup-failed button {
  width: 100%;
  margin-top: 50px;
  color: #fff;
  padding: 10px 0;
  background-color: #e04f5f;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 5px;
}

.blur-frame {
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
