<div id="container" class="detail-container">
  <div class="notify-list">
    <div class="row functional-wrapper">
      <div class="h-7 p-l-8 p-r-8">
        <div class="detail-item">
          <h3 class="title">Thông báo từ khoa</h3>
          <div class="list-item" *ngFor="let thongBao of listTB">
            <a
              class="row item-container"
              [routerLink]="[
                '/dashboard/thong-bao/chi-tiet',
                { maTb: thongBao.maTb }
              ]"
            >
              <img src="../../../../assets/Images/notify.png" alt="" />

              <div class="flex-1">
                <div class="info row flex-column jus-between">
                  <div class="name">
                    <p [innerHTML]="thongBao.tenTb"></p>
                  </div>
                  <p class="date row ali-center jus-end">
                    <i class="icon-cal fa-regular fa-calendar"></i>
                    {{ dateFormat(thongBao.ngayTb) }}
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="h-5 p-l-8 p-r-8">
        <div class="detail-item">
          <h3 class="title">Danh sách lời mời</h3>
          <div class="row list-card">
            <div class="card h-12 ma-b-24" *ngFor="let loiMoi of lstLoiMoi">
              <div class="row ali-start card-container">
                <img
                  src="../../../../assets/Images/avatar-nam.jpeg"
                  alt=""
                  class="ma-r-12"
                />

                <div class="flex-1 cart-info">
                  <div class="row">
                    <div class="flex-1">
                      <p class="cart-title">
                        {{ getTenNhomByMaNhom(loiMoi.maNhom) }}
                      </p>
                      <p class="cart-description">
                        Đợt {{ loiMoi.dot }} - {{ loiMoi.namHoc }}
                      </p>
                    </div>

                    <div>
                      <p class="cart-title text-right">Thời gian</p>
                      <p class="cart-description">{{ loiMoi.thoiGian }}</p>
                    </div>
                  </div>

                  <p class="cart-mess">
                    <span>Lời nhắn: </span>
                    <span [innerHTML]="loiMoi.loiNhan"></span>
                  </p>
                </div>
              </div>

              <div class="row ali-center jus-end ma-t-12">
                <button
                  class="btn btn-danger"
                  (click)="rejectInvitation(loiMoi)"
                >
                  Từ chối
                </button>
                <button
                  class="ma-l-12 btn btn-success"
                  (click)="acceptInvitation(loiMoi)"
                >
                  Chấp nhận
                </button>
              </div>
            </div>
          </div>

          <div id="notify">
            <div class="form-notify">
              <div class="notify-container">
                <p class="notify-title">Thông báo !</p>
                <div class="notify-content">
                  <p
                    *ngIf="
                      !isTeamLeader || (isTeamLeader && isGroupHaveOneMember)
                    "
                  >
                    Bạn đang trong một nhóm. Bạn có muốn thoát khỏi nhóm cũ và
                    tham gia vào nhóm mới không?
                  </p>
                  <p *ngIf="isTeamLeader && !isGroupHaveOneMember">
                    Bạn đang là trưởng nhóm, vui lòng chọn trưởng nhóm khác
                    trước khi rời nhóm
                  </p>
                </div>
                <div class="row ali-center jus-end">
                  <button class="cancel">Hủy</button>
                  <button class="agree">Đồng ý</button>
                </div>
                <div class="progress-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
