<div class="container">
  <form [formGroup]="timSinhVienById" class="form-inline">
    <div class="form-group">
      <label>Mã sinh viên:</label>
      <input type="text" formControlName="maSv" class="form-control" placeholder="Mời nhập mã sinh viên">
    </div>
    <button type="submit" class="btn btn-primary" (click)="findSvById($event)">Tìm</button>
  </form>
  <div class="result">
      <div class="result-element">
          <h3 *ngIf="data">Thông tin sinh viên</h3>
          <div *ngIf="data" class="result-property">
            <span class="property-name">Mã sinh viên:</span>
            <span class="property-value">{{ data?.maSv }}</span>
          </div>
          <div *ngIf="data" class="result-property">
            <span class="property-name">Họ tên:</span>
            <span class="property-value">{{ data?.tenSv }}</span>
          </div>
          <div *ngIf="data" class="result-property">
            <span class="property-name">Ngày sinh:</span>
            <span class="property-value">{{ dateFormat(data?.ngaySinh) }}</span>
          </div>
          <div *ngIf="data" class="result-property">
            <span class="property-name">Giới tính:</span>
            <span class="property-value">{{ data?.gioiTinh }}</span>
          </div>
          <div *ngIf="data" class="result-property">
            <span class="property-name">Lớp:</span>
            <span class="property-value">{{ data?.lop }}</span>
          </div>
          <div *ngIf="data" class="result-property">
            <span class="property-name">Số điện thoại:</span>
            <span class="property-value">{{ data?.sdt }}</span>
          </div>
          <div *ngIf="data" class="result-property">
            <span class="property-name">Email:</span>
            <span class="property-value">{{ data?.email }}</span>
          </div>
          <div *ngIf="data" class="result-property">
            <span class="property-name">Mã chuyên ngành:</span>
            <span class="property-value">{{ data?.maCn }}</span>
          </div>
      </div>
      <div class="result-none-element">
          <h3 *ngIf="!data">Mã sinh viên không hợp lệ</h3>
      </div>
  
      <div *ngIf="data" class="form-wrapper" class="invitation-form">
        <form [formGroup]="invitationForm">
          <div class="form-group">
            <label for="maSv">Mã sinh viên:</label>
            <input type="text" value={{data.maSv}} readonly>
          </div>
          <div class="form-group">
            <label for="namHoc">Năm học:</label>
            <input type="text" formControlName="namHoc" readonly>
          </div>
          <div class="form-group">
            <label for="dot">Đợt:</label>
            <input type="number" formControlName="dot" readonly>
          </div>
          <div class="form-group">
            <label for="loiNhan">Lời nhắn:</label>
            <textarea formControlName="loiNhan"></textarea>
          </div>
          <div class="form-group error-message" *ngIf="showSentToSelfError">
            Bạn không thể gửi lời mời cho chính mình
          </div>
          <div class="form-group error-message" *ngIf="showGroupMemberAlreadySent">
            Nhóm bạn đã gửi lời mời cho sinh viên này
          </div>
          <div class="form-group success-message" *ngIf="showSuccessMessage">
            Lời mời đã được gửi thành công
          </div>
          <button (click)="(showSentToSelfError || showGroupMemberAlreadySent) ? null : sendInvitation()" [disabled]="showSentToSelfError" [disabled]="showGroupMemberAlreadySent">Gửi lời mời</button>
      </form>
      </div>
  </div>
</div>

<!-- Section for Popup Message-->
<div *ngIf="isPopupVisible" class="blur-frame">
  <div class="popup-failed">
    <img src="./../../../assets/Images/that-bai.png"/>
    <div class="popup-wrapper">
      <h2>Thất bại</h2>
      <p *ngIf="showGroupMemberAlreadySent">Nhóm bạn đã gửi lời mời cho sinh viên này</p>
      <p *ngIf="showSentToSelfError">Không thể gửi lời mời cho chính mình</p>
      <p *ngIf="isNotHaveStudent">Không tìm thấy sinh viên để mời</p>
      <p *ngIf="isSentToNotJoinStudent">Sinh viên được mời không có trong đợt làm khóa luận này</p>
      <p *ngIf="isSignUpDeTai">Nhóm bạn đã đăng ký đề tài nên không thể gửi lời mời nhóm</p>
      <button (click)="hidePopup()">Đóng</button>
    </div>
  </div>

  <div *ngIf="showSuccessMessage" class="popup-success">
    <img src="./../../../assets/Images/tich-xanh.png"/>
    <div class="popup-wrapper">
      <h2>Thành công</h2>
      <p>Bạn đã gửi lời mời thành công</p>
      <button (click)="hidePopup()">Đóng</button>
    </div>
  </div>
</div>