<!--<form [formGroup]="invitationForm">
    <label>MSSV</label>
    <input type="text" formControlName="studentId"/>
    <div>
        <a (click)="findSvById($event)">Tìm</a>
    </div>

    <form [formGroup]="studentInfo">
        <div id="form-student-info">
            <p>MSSV:</p>
            <b>{{ data?.maSv }}</b>
            <p>Họ tên:</p>
            <b>{{ data?.tenSv }}</b>
            <p>Ngày sinh:</p>
            <b>{{ dateFormat(data?.ngaySinh) }}</b>
            <p>Giới tính:</p>
            <b>{{ data?.gioiTinh }}</b>
            <p>Lớp:</p>
            <b>{{ data?.lop }}</b>
            <p>Số điện thoại:</p>
            <b>{{ data?.sdt }}</b>
            <p>Email:</p>
            <b>{{ data?.email }}</b>
            <div>
                <a (click)="sendInvitation($event)">Gửi lời mời</a>
            </div>
        </div>
    </form>
</form>-->