.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .form-group {
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: 500;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .result {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    display: none;
  }

  .result-element {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .result-property {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .property-name {
    font-weight: bold;
    margin-right: 10px;
    flex: 1;
  }
  
  .property-value {
    font-weight: normal;
    flex: 2;
  }
  
  .invitation-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    display: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .invitation-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .invitation-form input[type="text"],
  .invitation-form input[type="number"],
  .invitation-form textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    resize: vertical;
    flex: 1;
  }

  label[for="loiNhan"],
  textarea[formControlName="loiNhan"] {
    width: 100%;
  }
  
  .invitation-form button {
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .invitation-form button:hover {
    background-color: #0062cc;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .success-message{
    color: green;
    font-size: 14px;
    margin-top: 5px;
  }

  @keyframes popupFadeIn {
    from {
      transform: translate(-50%, 0) scale(0.1);
    } to {
      transform: translate(0, 0) scale(1);
    }
  }
  
  .popup-failed{
    z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 360px;
    margin: 0 auto;
    margin-top: 180px;
    text-align: center;
    background-color: #fff;
    font-size: 16.25px;
    animation: popupFadeIn ease 0.4s;
    border-radius: 10px;
  }
  
  .popup-failed img{
    margin-top: -15%;
    width: 30%;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  }
  
  .popup-wrapper {
    padding: 0 32px;
  }
  
  .popup-failed button {
    width: 100%;
    margin-top: 50px;
    color: #fff;
    padding: 10px 0;
    background-color: #e04f5f ;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .blur-frame {
    z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }