<style>
    button {
        padding: 10px 20px;
        background-color: cyan;
        outline: none;
        margin: 50px;
        cursor: pointer;
    }
</style>

<div style="width: 1000px; height: 700px; background-color: aquamarine; margin: 0 auto;">

    <button (click)="createMaDt()">Tạo mã đề tài</button>
    <button (click)="taoTaiKhoan()">Tạo tài khoản giảng viên</button>
    <button (click)="xoaTaiKhoan()">Xóa tài khoản</button>
    <button (click)="getAll()">GetAll</button>
    <button (click)="getById()">GetById</button>
    <button (click)="Add()">Add</button>
    <!-- <button (click)="Update()">Upload</button> -->
    <button (click)="Delete()">Delete</button>
</div>