* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Header
.container {
    width: 80%;
    margin: 0 auto;
    color: #666;
}

.header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 4px #ccc;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

.header__left {
    // width: 60%;
    flex-basis: 60%;
    height: 60px;
    float: left;
    position: relative;
}

.header__left img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__right {
    flex-basis: 40%;
    margin-right: 4px;
}

.header__right-list {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 60px;
}

.header__right-item {
    list-style-type: none;
    padding: 16px 8px;
    position: relative;
}

.header__right-link {
    text-decoration: none;
    color: #666;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    text-transform:uppercase;
}

.header__right-link:hover {
    color: #1DA1F2;
}

.header__right-img img {
    width: 30px;
    border-radius: 50%;
}

.header__right-account {
    margin-left: 12px;
    -webkit-user-select: none;
    user-select: none;
}

.header-icon {
    height: 16px;
}

.icon-m-right {
    margin-right: 10px;
}

// Box account
#box-body {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

#box-account {
    width: 180px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    position: absolute;
    right: 16px;
    border-radius: 4px;
    display: none;
}

.account-item {
    list-style-type: none;
}

.account-link {
    display: block;
    text-decoration: none;
    color: #666;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.account-link:hover {
    background-color: #d6d6d6;
    color: #667580;
    cursor: pointer;
}

.block {
    display: block !important;
}