* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Header

.container {
    width: 1140px;
    margin: 0 auto;
    color: #666;
}

.header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 4px #ccc;
}

.header__left {
    width: 60%;
    height: 60px;
    float: left;
    position: relative;
}

.header__left img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__right {
    width: 40%;
    float: left;
}

.header__right-list {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 60px;
}

.header__right-item {
    list-style-type: none;
    padding: 16px 8px;
}

.header__right-link {
    text-decoration: none;
    color: #666;
    cursor: pointer;
    padding: 8px;
}

// Main

.body {
    background-color: #e7ecf0;
    // height: 1000px;
}

.main {
    padding: 20px 0;
}

.top {
    display: flex;
    gap: 20px;
}

.top-info {
    background-color: #fff;
    width: 65%;
    // margin-right: 2%;
    border-radius: 4px;
}

.info-title {
    padding: 8px 12px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.info-content {
    display: flex;
}

.info-img {
    width: 20%;
    text-align: center;
    padding: 10px 0;
}

.info-img img {
    width: 80%;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.info-left,
.info-right {
    width: 40%;
    // background-color: aquamarine;
    float: left;
    padding: 10px 20px;
}

.info-left-list {

}

.info-left-item {
    padding: 4px 0;
    list-style-type: none;
}

.top-right {
    width: 35%;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-notifi,
.top-plan {
    background-color: #fff;
    // margin-bottom: 20px;
    border-radius: 4px;
    padding: 16px;
    flex-basis: 50%;
}

.navbar-list {
    display: flex;
}

.navbar-item {
    background-color: #fff;
    list-style-type: none;
    line-height: 150px;
    margin: 20px 20px 0 0;
    text-align: center;
    border-radius: 4px;
    flex-basis: calc(100%/5);
}

.navbar-link {
    text-decoration: none;
}


// Dùng chung
.clear {
    clear: both;
}

.detail-link {
    text-decoration: none;
    color: #1da1f2;
}