<!-- Đây là đề tài của tôi và trạng thái chưa đạt -->
<div *ngIf="isDTMe && isTrangThai != 1; else XemDT">
  <div id="functional-container">
    <div class="functional-list">
      <div
        class="functional-container row ali-center jus-end functional-wrapper"
      >
        <div class="functional-button" *ngIf="maDt == ''">
          <button (click)="onAdd()">Thêm</button>
        </div>

        <div class="functional-button" *ngIf="maDt">
          <button (click)="onUpdate()">Sửa</button>
        </div>

        <div class="functional-button" *ngIf="maDt">
          <button (click)="onDelete()">Xóa</button>
        </div>
      </div>
    </div>
  </div>

  <form class="dt-form" [formGroup]="dtForm.form">
    <div class="container row">
      <div class="h-8 p-l-8 p-r-8">
        <div class="form-item">
          <div class="form-control">
            <p class="label p-b-8">Tên đề tài</p>

            <div class="form-value">
              <quill-editor
                class="form-input"
                spellcheck="false"
                placeholder=""
                formControlName="tenDT"
                [modules]="{ toolbar: false }"
              >
              </quill-editor>
              <p class="error-mess"></p>
            </div>
          </div>

          <div class="form-control">
            <p class="label p-b-8">Tóm tắt</p>

            <div class="form-value">
              <quill-editor
                spellcheck="false"
                class="form-input"
                placeholder=""
                [modules]="quillConfig"
                formControlName="tomTat"
              ></quill-editor>
              <p class="error-mess"></p>
            </div>
          </div>

          <div class="form-control" *ngIf="maDt && (isTruongBM || isDTMe)">
            <p class="label p-b-12">Góp ý chỉnh sửa đề tài</p>

            <div class="form-value" *ngIf="isTruongBM">
              <quill-editor
                spellcheck="false"
                class="form-input"
                placeholder=""
                [modules]="{ toolbar: false }"
                formControlName="nhanXet"
              ></quill-editor>
              <p class="error-mess"></p>
            </div>

            <div class="row jus-end" *ngIf="isTruongBM">
              <button class="comment-btn" (click)="onAddComment()">
                Góp ý
              </button>
            </div>

            <div class="comment-list">
              <div class="comment-item" *ngFor="let duyet of this.listDuyetDT">
                <div class="row">
                  <div>
                    <img src="../../../../assets/Images/user-icon.svg" alt="" />
                  </div>

                  <div class="comment-info">
                    <p class="title">{{ duyet.tenGv }}</p>
                    <p class="content" [innerHTML]="duyet.nhanXet"></p>
                    <p class="time">{{ duyet.thoiGian }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="h-4 p-l-8 p-r-8">
        <div class="form-item">
          <label class="form-control">
            <p class="label p-b-8">Mã đề tài</p>
            <div class="form-value">
              <input
                [readOnly]="true"
                class="form-input"
                type="text"
                formControlName="maDT"
              />
            </div>
          </label>

          <label class="form-control">
            <p class="label p-b-8">Giảng viên ra đề</p>
            <div class="form-value">
              <input
                [readOnly]="true"
                class="form-input"
                type="text"
                formControlName="tenGv"
              />
            </div>
          </label>

          <div class="form-control form-no-box-shadow">
            <p class="label p-b-4">Chuyên ngành phù hợp</p>

            <div class="form-value">
              <div class="selected-box row" (click)="onOpenDropdown($event)">
                <div class="selected-item flex-1">
                  <div class="row ali-center">
                    <div *ngFor="let item of selectedCN" class="item">
                      {{ item.tenCn }}
                    </div>
                  </div>
                </div>

                <div>
                  <i class="fa-solid fa-caret-down"></i>
                </div>

                <div class="dropdown">
                  <input
                    type="text"
                    class="form-input"
                    placeholder="Tìm chuyên ngành"
                    (input)="onSearchCN($event)"
                    (click)="onClickInput($event)"
                  />

                  <div class="list-major p-t-16">
                    <div
                      *ngFor="let item of CNInputConfig.data; let i = index"
                      class="major-item"
                      [ngClass]="{ active: isCNExist(selectedCN, item) }"
                      [attr.data-index]="item.maCn"
                      (click)="onSetItem($event)"
                    >
                      {{ item.tenCn }}
                    </div>
                  </div>
                </div>
              </div>
              <p class="error-mess"></p>
            </div>
          </div>

          <div class="row ali-center functional-wrapper">
            <div class="h-6 p-l-8 p-r-8">
              <label class="form-control">
                <p class="label p-b-8">Tối đa</p>
                <div class="form-value">
                  <input
                    id="add-min"
                    class="form-input"
                    type="number"
                    formControlName="slMax"
                    (blur)="dtForm.inputBlur($event)"
                    [defaultValue]="slMax"
                    (change)="setSlMax($event)"
                    [min]="slMin"
                  />
                  <p class="error-mess"></p>
                </div>
              </label>
            </div>

            <div class="h-6 p-l-8 p-r-8">
              <label class="form-control">
                <p class="label p-b-8">Tối thiểu</p>
                <div class="form-value">
                  <input
                    class="form-input"
                    type="number"
                    formControlName="slMin"
                    (blur)="dtForm.inputBlur($event)"
                    [min]="1"
                    [max]="slMax"
                  />
                  <p class="error-mess"></p>
                </div>
              </label>
            </div>
          </div>

          <div *ngIf="isTruongBM;" class="functional-list">
            <div
              *ngIf="isTrangThai == 0 || isTrangThai == -1"
              class="functional-container row ali-center jus-end functional-wrapper"
            >
              <button
                class="functional-button functional-error functional-disabled"
                (click)="onBrowse(maDt, false)"
                [disabled]="true"
              >
                <button>Yêu cầu chỉnh sửa</button>
              </button>
              <button
                class="functional-button functional-success"
                (click)="onBrowse(maDt, true)"
              >
                <button>Duyệt đề tài</button>
              </button>
            </div>

            <div *ngIf="isTrangThai == 1">
              <button
                class="functional-button functional-success"
                (click)="onBrowse(maDt, false)"
              >
                <button>Yêu cầu chỉnh sửa</button>
              </button>
              <button
                class="functional-button functional-error functional-disabled"
                (click)="onBrowse(maDt, true)"
                [disabled]="true"
              >
                <button>Duyệt đề tài</button>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div id="delete">
    <div class="form-notify">
      <div class="notify-container">
        <p class="notify-title">Thông báo !</p>
        <p class="notify-content">
          Việc xóa sẽ làm tất cả thông tin có liên quan đến nhiệm vụ sẽ biến
          mất. Bạn có chắc chắn muốn xóa ?
        </p>
        <div class="row ali-center jus-end">
          <button class="cancel">Hủy</button>
          <button class="agree">Đồng ý</button>
        </div>

        <div class="progress-bar"></div>
      </div>
    </div>
  </div>
</div>

<!-- Đây là trạng thái chỉ xem đề tài - !isDTMe && oldForm -->
<ng-template #XemDT>
  <div class="detail-container" *ngIf="oldForm">
    <form class="dt-form" [formGroup]="dtForm.form">
      <div class="row functional-wrapper">
        <div class="h-9 p-l-8 p-r-8">
          <div class="detail-item">
            <p [innerHTML]="oldForm.tenDT" class="title"></p>

            <div [innerHTML]="oldForm.tomTat" class="content p-b-24"></div>

            <div class="form-control" *ngIf="maDt && (isTruongBM || isDTMe)">
              <p class="label p-b-12 w-auto">Góp ý chỉnh sửa đề tài</p>

              <div [formGroup]="dtForm.form" *ngIf="isTruongBM">
                <div class="form-value">
                  <quill-editor
                    spellcheck="false"
                    class="form-input"
                    placeholder=""
                    [modules]="{ toolbar: false }"
                    formControlName="nhanXet"
                  ></quill-editor>
                  <p class="error-mess"></p>
                </div>

                <div class="row jus-end">
                  <button class="comment-btn" (click)="onAddComment()">
                    Góp ý
                  </button>
                </div>
              </div>

              <div class="comment-list" *ngIf="isTruongBM || isDTMe">
                <div
                  class="comment-item"
                  *ngFor="let duyet of this.listDuyetDT"
                >
                  <div class="row">
                    <div>
                      <img
                        src="../../../../assets/Images/user-icon.svg"
                        alt=""
                      />
                    </div>

                    <div class="comment-info">
                      <p class="title">{{ duyet.tenGv }}</p>
                      <p class="content" [innerHTML]="duyet.nhanXet"></p>
                      <p class="time">{{ duyet.thoiGian }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="h-3 p-l-8 p-r-8">
          <div class="detail-item">
            <div class="description-list">
              <label class="form-control">
                <p class="label p-b-8">Mã đề tài</p>
                <div class="form-value">
                  <input
                    [readOnly]="true"
                    class="form-input"
                    type="text"
                    formControlName="maDT"
                  />
                </div>
              </label>

              <label class="form-control">
                <p class="label p-b-8">Giảng viên ra đề</p>
                <div class="form-value">
                  <input
                    [readOnly]="true"
                    class="form-input"
                    type="text"
                    formControlName="tenGv"
                  />
                </div>
              </label>

              <div class="form-control form-no-box-shadow">
                <p class="p-b-8">Chuyên ngành phù hợp</p>

                <div class="form-value">
                  <div class="selected-box row">
                    <div class="selected-item flex-1">
                      <div class="row ali-center">
                        <div *ngFor="let item of selectedCN" class="item">
                          {{ item.tenCn }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <label class="form-control">
                <p class="p-b-8">Số lượng sinh viên phù hợp:</p>
                <div class="form-value form-input">
                  <input
                    [readOnly]="true"
                    class="form-input"
                    type="text"
                    value="{{ oldForm.slMin }}  ->  {{ oldForm.slMax }}"
                  />
                </div>
              </label>

              <div class="ma-t-16">
                <p class="date-due p-b-12">
                  Trạng thái duyệt đề tài:
                  <span
                    style="color: blue"
                    *ngIf="isTrangThai == 0; else DaDuyet"
                    >Chưa duyệt</span
                  >
                  <ng-template #DaDuyet>
                    <span
                      style="color: #15fa00"
                      *ngIf="isTrangThai == 1; else Dat"
                      >Đạt</span
                    >
                    <ng-template #Dat>
                      <span style="color: red">Chưa đạt</span>
                    </ng-template>
                  </ng-template>
                </p>
              </div>

              <div class="functional-list" *ngIf="isTruongBM;">
                <div
                  class="functional-container row ali-center jus-end"
                  *ngIf="isTrangThai == 0 || isTrangThai == -1"
                >
                  <button
                    class="functional-button functional-error functional-disabled"
                    (click)="onBrowse(maDt, false)"
                    [disabled]="true"
                  >
                    <button>Yêu cầu chỉnh sửa</button>
                  </button>
                  <button
                    class="functional-success functional-button"
                    (click)="onBrowse(maDt, true)"
                  >
                    <button>Duyệt đề tài</button>
                  </button>
                </div>

                <div
                  class="functional-container row ali-center jus-end"
                  *ngIf="isTrangThai == 1"
                >
                  <button
                    class="functional-button functional-success"
                    (click)="onBrowse(maDt, false)"
                  >
                    <button>Yêu cầu chỉnh sửa</button>
                  </button>
                  <button
                    class="functional-button functional-error functional-disabled"
                    (click)="onBrowse(maDt, true)"
                    [disabled]="true"
                  >
                    <button>Duyệt đề tài</button>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
