<style>
  .action {
    &:hover {
      background: rgba(29, 148, 239, 0.3);
      cursor: pointer;
    }
  }
</style>

<div id="functional-container">
  <div class="functional-list">
    <ul class="functional-container row ali-center functional-wrapper">
      <li class="functional-item">
        <select class="functional-select" (change)="getThamgiaByMaCN($event)">
          <option value="">Tất cả</option>
          <option *ngFor="let cn of listCn" [value]="cn?.maCn">
            {{ cn?.tenCn }}
          </option>
        </select>
      </li>
      <li class="functional-item">
        <input
          type="text"
          placeholder="Tìm kiếm..."
          [(ngModel)]="_searchName"
          (ngModelChange)="onSearchChange()"
        />
      </li>
      <li class="functional-item">
        <select class="functional-select" (change)="getThamgiaByDotDk($event)">
          <option value="">Tất cả</option>
          <option *ngFor="let dk of listDotDk" [value]="dk.namHoc + dk.dot">
            {{ dk?.namHoc }} ^ Đợt {{ dk?.dot }}
          </option>
        </select>
      </li>
      <li
        class="functional-item functional-wrapper row ali-center jus-end flex-1"
      >
        <div class="functional-button">
          <button
            routerLink="/ministry/tham-gia/form-thamgia"
            [state]="{ isUpdate: false }"
          >
            Thêm
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="container">
  <div>
    <table [cellPadding]="0" [cellSpacing]="0" class="table">
      <tr>
        <th>Mã SV</th>
        <th>Họ và tên</th>
        <th>Email</th>
        <th>Giới tính</th>
        <th>SĐT</th>
        <th>Lớp</th>
        <th>Chuyên ngành</th>
        <th>Đợt</th>
        <th>Thao tác</th>
      </tr>
      <tbody *ngFor="let sv of temps">
        <tr>
          <td class="text-center">{{ sv?.maSV }}</td>
          <td class="text-left">{{ sv.tenSV }}</td>
          <td class="text-left">{{ sv.email }}</td>
          <td class="text-center">{{ sv.gioiTinh }}</td>
          <td class="text-center">{{ sv.sdt }}</td>
          <td class="text-center">{{ sv.lop }}</td>
          <td class="text-left">{{ sv.chuyenNganh }}</td>
          <td class="text-left namhoc_dot">
            {{ sv.namHoc }} - Đợt {{ sv.dot }}
          </td>
          <td class='text-center action' (click)='onDelete(sv.maSV, sv.namHoc, sv.dot)'>Xóa</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
