  <div class="detail-container" *ngIf="oldForm">
    <form class="dt-form" [formGroup]="dtForm.form">
      <div class="row functional-wrapper">
        <div class="h-9 p-l-8 p-r-8">
          <div class="detail-item">
            <p [innerHTML]="oldForm.tenDT" class="title"></p>

            <div [innerHTML]="oldForm.tomTat" class="content p-b-24"></div>

            <div class="form-control" *ngIf="maDt">
              <p class="label p-b-12 w-auto">Góp ý chỉnh sửa đề tài</p>

              <div class="comment-list">
                <div class="comment-item" *ngFor="let duyet of this.listDuyetDT">
                  <div class="row">
                    <div>
                      <img src="../../../../assets/Images/user-icon.svg" alt="" />
                    </div>

                    <div class="comment-info">
                      <p class="title">{{ duyet.tenGv }}</p>
                      <p class="content" [innerHTML]="duyet.nhanXet"></p>
                      <p class="time">{{ duyet.thoiGian }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="h-3 p-l-8 p-r-8">
          <div class="detail-item">
            <div class="description-list">
              <label class="form-control">
                <p class="label p-b-8">Mã đề tài</p>
                <div class="form-value">
                  <input
                    [readOnly]="true"
                    class="form-input"
                    type="text"
                    formControlName="maDT"
                  />
                </div>
              </label>

              <label class="form-control">
                <p class="label p-b-8">Giảng viên ra đề</p>
                <div class="form-value">
                  <input
                    [readOnly]="true"
                    class="form-input"
                    type="text"
                    formControlName="tenGv"
                  />
                </div>
              </label>

              <div class="form-control form-no-box-shadow">
                <p class="p-b-8">Chuyên ngành phù hợp</p>

                <div class="form-value">
                  <div class="selected-box row">
                    <div class="selected-item flex-1">
                      <div class="row ali-center">
                        <div *ngFor="let item of selectedCN" class="item">
                          {{ item.tenCn }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <label class="form-control">
                <p class="p-b-8">Số lượng sinh viên phù hợp:</p>
                <div class="form-value form-input">
                  <input
                    [readOnly]="true"
                    class="form-input"
                    type="text"
                    value="{{ oldForm.slMin }}  ->  {{ oldForm.slMax }}"
                  />
                </div>
              </label>

              <div class="ma-t-16">
                <p class="date-due p-b-12">
                  Trạng thái duyệt đề tài:
                  <span style="color: blue" *ngIf="isTrangThai == 0; else DaDuyet">Chưa duyệt</span>
                  <ng-template #DaDuyet>
                      <span style="color: #15fa00;" *ngIf="isTrangThai == 1; else Dat">Đạt</span>
                      <ng-template #Dat>
                        <span style="color: red;">Chưa đạt</span>
                      </ng-template>
                  </ng-template>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>