<div id="functional-container">
  <div class="functional-list">
    <div class="functional-container row ali-center jus-end functional-wrapper">
      <div class="functional-button" *ngIf="maDt == ''">
        <button (click)="onAdd()">Thêm</button>
      </div>

      <div class="functional-button" *ngIf="maDt">
        <button (click)="onUpdate()">Sửa</button>
      </div>

      <div class="functional-button" *ngIf="maDt">
        <button (click)="onDelete()">Xóa</button>
      </div>
    </div>
  </div>
</div>

<form class="dt-form" [formGroup]="dtForm.form">
  <div class="container row">
    <div class="h-8 p-l-8 p-r-8">
      <div class="form-item">
        <div class="form-control">
          <p class="label p-b-8">Tên đề tài</p>

          <div class="form-value">
            <quill-editor
              class="form-input"
              spellcheck="false"
              placeholder=""
              formControlName="tenDT"
              [modules]="{ toolbar: false }"
            >
            </quill-editor>
            <p class="error-mess"></p>
          </div>
        </div>

        <div class="form-control">
          <p class="label p-b-8">Tóm tắt</p>

          <div class="form-value">
            <quill-editor
              spellcheck="false"
              class="form-input"
              placeholder=""
              [modules]="quillConfig"
              formControlName="tomTat"
            ></quill-editor>
            <p class="error-mess"></p>
          </div>
        </div>

        <div class="form-control" *ngIf="maDt">
          <p class="label p-b-8">Góp ý</p>

          <div class="form-value">
            <quill-editor
              spellcheck="false"
              class="form-input"
              placeholder=""
              [modules]="{ toolbar: false }"
              formControlName="nhanXet"
            ></quill-editor>
            <p class="error-mess"></p>
          </div>

          <div class="row jus-end">
            <button class="comment-btn" (click)="onAddComment()">Góp ý</button>
          </div>

          <div class="comment-list">
            <div class="comment-item" *ngFor="let duyet of this.listDuyetDT">
              <div class="row">
                <div>
                  <img src="../../../../assets/Images/user-icon.svg" alt="" />
                </div>

                <div class="comment-info">
                  <p class="title">{{ duyet.tenGv }}</p>
                  <p class="content" [innerHTML]="duyet.nhanXet"></p>
                  <p class="time">{{ duyet.thoiGian }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="h-4 p-l-8 p-r-8">
      <div class="form-item">
        <label class="form-control">
          <p class="label p-b-8">Mã đề tài</p>
          <div class="form-value">
            <input
              class="form-input"
              (blur)="dtForm.inputBlur($event)"
              type="text"
              formControlName="maDT"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <div class="form-control form-no-box-shadow">
          <p class="label p-b-8">Giảng viên ra đề</p>

          <div class="form-value">
            <ng-autocomplete
              [data]="GVInputConfig.data"
              [searchKeyword]="GVInputConfig.keyword"
              [itemTemplate]="itemTemplate1"
              [notFoundTemplate]="notFoundTemplate1"
              class="form-input title"
              formControlName="tenGv"
              (selected)="setSelectedGV($event)"
              spellcheck="false"
            >
            </ng-autocomplete>

            <ng-template #itemTemplate1 let-item>
              <a [innerHTML]="item.tenGv"></a>
            </ng-template>

            <ng-template #notFoundTemplate1 let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
            <p class="error-mess"></p>
          </div>
        </div>

        <div class="form-control form-no-box-shadow">
          <p class="label p-b-4">Chuyên ngành</p>

          <div class="form-value">
            <div class="selected-box row" (click)="onOpenDropdown($event)">
              <div class="selected-item flex-1">
                <div class="row ali-center">
                  <div *ngFor="let item of selectedCN" class="item">
                    {{ item.tenCn }}
                  </div>
                </div>
              </div>

              <div>
                <i class="fa-solid fa-caret-down"></i>
              </div>

              <div class="dropdown">
                <input
                  type="text"
                  class="form-input"
                  placeholder="Tìm chuyên ngành"
                  (input)="onSearchCN($event)"
                  (click)="onClickInput($event)"
                />

                <div class="list-major p-t-16">
                  <div
                    *ngFor="let item of CNInputConfig.data; let i = index"
                    class="major-item"
                    [ngClass]="{ active: isCNExist(selectedCN, item) }"
                    [attr.data-index]="item.maCn"
                    (click)="onSetItem($event)"
                  >
                    {{ item.tenCn }}
                  </div>
                </div>
              </div>
            </div>
            <p class="error-mess"></p>
          </div>
        </div>

        <div class="row ali-center functional-wrapper">
          <div class="h-6 p-l-8 p-r-8">
            <label class="form-control">
              <p class="label p-b-8">Tối đa</p>
              <div class="form-value">
                <input
                  id="add-min"
                  class="form-input"
                  type="number"
                  formControlName="slMax"
                  (blur)="dtForm.inputBlur($event)"
                  [defaultValue]="slMax"
                  (change)="setSlMax($event)"
                  [min]="slMin"
                />
                <p class="error-mess"></p>
              </div>
            </label>
          </div>

          <div class="h-6 p-l-8 p-r-8">
            <label class="form-control">
              <p class="label p-b-8">Tối thiểu</p>
              <div class="form-value">
                <input
                  class="form-input"
                  type="number"
                  formControlName="slMin"
                  (blur)="dtForm.inputBlur($event)"
                  [min]="1"
                  [max]="slMax"
                />
                <p class="error-mess"></p>
              </div>
            </label>
          </div>
        </div>

        <label class="form-control" *ngIf="maDt">
          <p class="label p-b-8">Trạng thái</p>
          <div class="form-value">
            <div class="row ali-center topic-status">
              <label class="row ali-center">
                <input
                  type="radio"
                  value="true"
                  class="form-input"
                  formControlName="trangThai"
                />
                <p class="label">Đã duyệt</p>
              </label>

              <label class="row ali-center">
                <input
                  type="radio"
                  value="false"
                  class="form-input"
                  formControlName="trangThai"
                />
                <p class="label">Chưa duyệt</p>
              </label>
            </div>
            <p class="error-mess"></p>
          </div>
        </label>
      </div>
    </div>
  </div>
</form>

<div id="delete">
  <div class="form-notify">
    <div class="notify-container">
      <p class="notify-title">Thông báo !</p>
      <p class="notify-content">
        Việc xóa sẽ làm tất cả thông tin có liên quan đến nhiệm vụ sẽ biến mất.
        Bạn có chắc chắn muốn xóa ?
      </p>
      <div class="row ali-center jus-end">
        <button class="cancel">Hủy</button>
        <button class="agree">Đồng ý</button>
      </div>

      <div class="progress-bar"></div>
    </div>
  </div>
</div>
