<div id="functional-container">
    <div class="search-list">
      <ul class="search-container row ali-center">
        <li class="search-item">
          <select
            class="search-select"
            id="search-select"
            (change)="getGiangVienByMaBM($event)"
          >
            <option value="">Tất cả</option>
            <option *ngFor="let bm of listBoMon" value="{{bm.maBm}}">
              {{ bm.tenBm }}
            </option>
          </select>
        </li>
        <li class="search-item">
          <input
            type="text"
            placeholder="Tìm theo tên..."
            [(ngModel)]="searchName"
          />
        </li>
        <li class="search-item">
          <select
            class="search-select"
            id="sort-select"
            (change)="sortGiangVien($event)"
          >
            <option value="">Mặc định</option>
            <option value="asc-id">Tăng theo mã</option>
            <option value="desc-id">Giảm theo mã</option>
            <option value="asc-name">Tăng theo tên</option>
            <option value="desc-name">Giảm theo tên</option>
            <option value="asc-subject">Tăng theo bộ môn</option>
            <option value="desc-subject">Giảm theo bộ môn</option>
          </select>
        </li>
      </ul>
    </div>
    <!-- <router-outlet></router-outlet> -->
    <app-home-danhsachgiangvien
      [searchName]="searchName"
      [isSelectedGV]="isSelectedGV"
      (returnIsSelectedGV)="setIsSelectedGv($event)"
    ></app-home-danhsachgiangvien>
  </div>
  