<div id="functional-container">
  <div class="functional-list">
    <ul class="functional-container functional-wrapper row ali-center">
      <li class="functional-item">
        <select class="search-select" id="search-select">
          <option value="">Tất cả</option>
          <option>Còn làm việc</option>
          <option>Đã nghĩ việc</option>
        </select>
      </li>
      <li class="functional-item">
        <input
          type="text"
          placeholder="Tìm theo tên..."
          [(ngModel)]="searchName"
        />
      </li>
    </ul>
  </div>
  <app-home-danhsachgiangvien
    [searchName]="searchName"
  ></app-home-danhsachgiangvien>
</div>
