@keyframes popupFadeIn {
  from {
    transform: translate(-50%, 0) scale(0.1);
  } to {
    transform: translate(0, 0) scale(1);
  }
}

.popup-success,
.popup-failed{
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 360px;
  margin: 0 auto;
  margin-top: 180px;
  text-align: center;
  background-color: #fff;
  font-size: 16.25px;
  animation: popupFadeIn ease 0.4s;
  border-radius: 10px;
}

.popup-success img,
.popup-failed img{
  margin-top: -15%;
  width: 30%;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.popup-wrapper {
  padding: 0 32px;
}

.popup-failed button {
  width: 100%;
  margin-top: 50px;
  color: #fff;
  padding: 10px 0;
  background-color: #e04f5f ;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 5px;
}

.popup-success button {
  width: 100%;
  margin-top: 50px;
  color: #fff;
  padding: 10px 0;
  background-color: #5890ff;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 5px;
}

.blur-frame {
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.list {
  height: calc(100vh - 260px);
  overflow: auto;

  .table {
    overflow: auto;
  }
}

.list-header {
  position: sticky;
  top: -1px;
}

.add-btn {
  width: 4px;
  padding: 0;
}

.add-all {
  width: 70px;
}

.none {
  display: none;
}

.search__item select {
  width: 230px;
  height: 40px;
}

#create_box {
  width: 500px;
}

#create_box .title {
  font-size: 2rem;
  color: #0066cb;
  font-weight: 700;
  padding-bottom: 12px;
  margin-top: -8px;
}

#create_box .background {
  background: url("../../../assets/Images/user-bg.jpg") center / cover no-repeat;
  height: 150px;
  position: relative;
  margin: 0 -30px;
}

#create_box .user-info {
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
}

#create_box .user-info img {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

#create_box .user-info {
  font-size: 1.6rem;
}

#create_box .form-control {
  margin-top: 65px;
}

#create_box .form-value {
  height: 120px;

  quill-editor {
    height: 100%;
  }
}

.functional-button {
  padding: 0;

  button {
    min-width: 70px;
    padding: 8px 12px;
  }
}
