<div class="p-t-16">
  <div class="detail-item">
    <div>
      <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
        <tr>
          <th class="text-center" [colSpan]="11">
            Đây là 1 ví dụ về tên đề tài
          </th>
        </tr>
        <tr>
          <td class="text-center" [rowSpan]="2">MSSV</td>
          <td class="text-center" [rowSpan]="2">Họ tên</td>
          <td class="text-center" [colSpan]="2">Điểm GVHD</td>
          <td class="text-center" [colSpan]="2">Điểm GVPB</td>
          <td class="text-center" [colSpan]="6">Hội đồng</td>
        </tr>
        <tr>
          <td class="text-center">ThS Trần Văn Thọ 1</td>
          <td class="text-center">ThS Trần Văn Thọ 2</td>

          <td class="text-center">ThS Trần Văn Thọ 1</td>
          <td class="text-center">ThS Trần Văn Thọ 2</td>

          <td class="text-center">ThS Trần Văn Thọ 1</td>
          <td class="text-center">ThS Trần Văn Thọ 2</td>
          <td class="text-center">ThS Trần Văn Thọ 3</td>
          <td class="text-center">ThS Trần Văn Thọ 4</td>
          <td class="text-center">ThS Trần Văn Thọ 5</td>
        </tr>
        <tr>
          <td>2001202222</td>
          <td>Ngô Văn Sơn</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
