<div id="functional-container">
  <div class="search-list">
    <ul class="search-container row ali-center">
      <li class="search-item">
        <select
          class="search-select"
          id="search-select"
          (change)="getSinhVienByMaCN($event)"
        >
          <option value="">Tất cả</option>
          <option *ngFor="let cn of listChuyenNganh" [value]="cn?.maCn">
            {{ cn?.tenCn }}
          </option>
        </select>
      </li>
      <li class="search-item">
        <input
          type="text"
          placeholder="Tìm theo tên..."
          [(ngModel)]="searchName"
        />
      </li>
      <li class="search-item">
        <select
          class="search-select"
          id="sort-select"
          (change)="sortSinhVien($event)"
        >
          <option value="">Mặc định</option>
          <option value="asc-id">Tăng theo mã</option>
          <option value="desc-id">Giảm theo mã</option>
          <option value="asc-name">Tăng theo tên</option>
          <option value="desc-name">Giảm theo tên</option>
          <option value="asc-subject">Tăng theo chuyên ngành</option>
          <option value="desc-subject">Giảm theo chuyên ngành</option>
        </select>
      </li>
      <li class="search-item row ali-center jus-end flex-1">
        <button class="search-button" (click)="onShowFormAdd()">Thêm</button>
        <button class="search-button" (click)="onShowFormUpdate()">Sửa</button>
        <button class="search-button" (click)="clickDelete()">Xóa</button>
        <button class="search-button" (click)="onShowFormDrag()">
          Nhập DS
        </button>
      </li>
    </ul>
  </div>

  <app-danhsachsinhvien [searchName]="searchName"></app-danhsachsinhvien>

  <div id="create" (click)="handleToggleAdd()"></div>
  <form id="create_box" [formGroup]="svAddForm" class="form">
    <div class="form-notify">
      <div class="notify-container">
        <p class="notify-title">Thông báo !</p>
        <p class="notify-content">
          Việc tắt Form sẽ xóa tất cả thông tin hiện đang có trên Form.
        </p>
        <div class="row ali-center jus-end">
          <button class="cancel">Hủy</button>
          <button class="agree">Đồng ý</button>
        </div>
        <div class="progress-bar"></div>
      </div>
    </div>

    <h2 class="title">THÊM SINH VIÊN MỚI</h2>

    <div class="row form-list form">
      <div class="h-6 p-l-12 p-r-12">
        <label class="form-control row ali-center form-control">
          <p class="label">Mã sinh viên</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="maSv"
              (blur)="svForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="form-control row ali-center form-control">
          <p class="label">Tên sinh viên</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="tenSv"
              (blur)="svForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="form-control row ali-center form-control">
          <p class="label">Ngày sinh</p>
          <div class="form-value">
            <input
              type="date"
              formControlName="ngaySinh"
              (blur)="svForm.inputBlur($event)"
            />

            <p class="error-mess"></p>
          </div>
        </label>

        <label class="form-control row ali-center form-control">
          <p class="label">Giới tính</p>
          <div class="form-value">
            <select
              formControlName="gioiTinh"
              (blur)="svForm.inputBlur($event)"
            >
              <option value="Nam">Nam</option>
              <option value="Nữ">Nữ</option>
            </select>
            <p class="error-mess"></p>
          </div>
        </label>
      </div>

      <div class="h-6 p-l-12 p-r-12">
        <label class="input row ali-center form-control">
          <p class="label">Chuyên ngành</p>
          <div class="form-value">
            <select formControlName="maCn" (blur)="svForm.inputBlur($event)">
              <option value="">Không có</option>
              <option *ngFor="let cn of listChuyenNganh" [value]="cn?.maCn">
                {{ cn?.tenCn }}
              </option>
            </select>
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="input row ali-center form-control">
          <p class="label">Lớp</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="lop"
              (blur)="svForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="input row ali-center form-control">
          <p class="label">Email</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="email"
              (blur)="svForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="input row ali-center form-control">
          <p class="label">Số điện thoại</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="sdt"
              maxlength="10"
              (blur)="svForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>
      </div>
    </div>

    <div class="submit-btn text-right">
      <button class="ma-r-12" (click)="svForm.resetForm('#create_box')">
        Làm mới
      </button>
      <button class="btn-add" (click)="addSinhVien()">Thêm sinh viên</button>
    </div>
  </form>

  <div id="update" (click)="handleToggleUpdate()"></div>
  <form id="update_box" [formGroup]="svUpdateForm" class="form">
    <div class="form-notify">
      <div class="notify-container">
        <p class="notify-title">Thông báo !</p>
        <p class="notify-content">
          Có vẻ như bạn chưa lưu thay đổi. Bạn có chắc chắn muốn thoát ?
        </p>
        <div class="row ali-center jus-end">
          <button class="cancel">Hủy</button>
          <button class="agree">Đồng ý</button>
          <button class="save">Lưu thay đổi và thoát</button>
        </div>

        <div class="progress-bar"></div>
      </div>
    </div>

    <h2 class="title">CẬP NHẬT THÔNG TIN GIẢNG VIÊN</h2>
    <div class="row form-list form">
      <div class="h-6 p-l-12 p-r-12">
        <label class="form-control row ali-center form-control">
          <p class="label">Mã sinh viên</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="maSv"
              (blur)="svForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="form-control row ali-center form-control">
          <p class="label">Tên sinh viên</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="tenSv"
              (blur)="svForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="form-control row ali-center form-control">
          <p class="label">Ngày sinh</p>
          <div class="form-value">
            <input
              type="date"
              formControlName="ngaySinh"
              (blur)="svForm.inputBlur($event)"
            />

            <p class="error-mess"></p>
          </div>
        </label>

        <label class="form-control row ali-center form-control">
          <p class="label">Giới tính</p>
          <div class="form-value">
            <select
              formControlName="gioiTinh"
              (blur)="svForm.inputBlur($event)"
            >
              <option value="Nam">Nam</option>
              <option value="Nữ">Nữ</option>
            </select>
            <p class="error-mess"></p>
          </div>
        </label>
      </div>

      <div class="h-6 p-l-12 p-r-12">
        <label class="input row ali-center form-control">
          <p class="label">Chuyên ngành</p>
          <div class="form-value">
            <select formControlName="maCn" (blur)="svForm.inputBlur($event)">
              <option value="">Không có</option>
              <option *ngFor="let cn of listChuyenNganh" [value]="cn?.maCn">
                {{ cn?.tenCn }}
              </option>
            </select>
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="input row ali-center form-control">
          <p class="label">Lớp</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="lop"
              (blur)="svForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="input row ali-center form-control">
          <p class="label">Email</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="email"
              (blur)="svForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>

        <label class="input row ali-center form-control">
          <p class="label">Số điện thoại</p>
          <div class="form-value">
            <input
              type="text"
              formControlName="sdt"
              maxlength="10"
              (blur)="svForm.inputBlur($event)"
            />
            <p class="error-mess"></p>
          </div>
        </label>
      </div>
    </div>

    <div class="submit-btn text-right">
      <button class="btn-update" (click)="updateSinhVien()">
        Cập nhật thông tin
      </button>
    </div>
  </form>

  <div id="drag-file" (click)="onCloseDrag($event)"></div>
  <div id="drag-file_box">
    <p class="title">Nhập danh sách</p>
    <p class="description">Nhập danh sách sinh viên thông qua 1 file excel</p>

    <form
      class="drag-form form row flex-column ali-center jus-center"
      (dragover)="onDragFileOver($event)"
      (dragleave)="onDragFileLeave($event)"
      (drop)="onDropFile($event)"
      (dragenter)="onDragFileOver($event)"
    >
      <input
        type="file"
        class="file-content"
        hidden
        (input)="onFileInput($event)"
      />
      <i class="fa-solid fa-cloud-arrow-up"></i>
      <p>
        Kéo và thả file vào đây hoặc
        <span class="choose-file" (click)="onSelect()">chọn file</span>
      </p>
    </form>

    <div class="file-choose" *ngIf="sinhVienFile">
      <p class="title">File đã chọn</p>
      <div class="row ali-center file-choose-container">
        <i class="fa-solid fa-file-excel"></i>
        <div class="row ali-center jus-between flex-1">
          <div class="file-info">
            <p class="file-name">{{ sinhVienFile.name }}</p>
            <p class="file-size">{{ sinhVienFile.size }}</p>
          </div>
          <p class="import-btn" (click)="onReadFile()">Nhập</p>
        </div>
      </div>
    </div>
  </div>

  <div id="delete">
    <div class="form-notify">
      <div class="notify-container">
        <p class="notify-title">Thông báo !</p>
        <p class="notify-content">
          Việc xóa sẽ làm tất cả thông tin có liên quan đến sinh viên sẽ biến
          mất. Bạn có chắc chắn muốn xóa ?
        </p>
        <div class="row ali-center jus-end">
          <button class="cancel">Hủy</button>
          <button class="agree">Đồng ý</button>
        </div>

        <div class="progress-bar"></div>
      </div>
    </div>
  </div>
</div>
