<div id="container">
  <div class="detail-container">
    <div class="row functional-wrapper">
      <div class="h-7 p-r-8 p-l-8">
        <div class="detail-item selected-topic">
          <p class="table-title p-b-12">Danh sách đề tài</p>

          <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
            <tr class="thead">
              <th>Mã ĐT</th>
              <th>Tên đề tài</th>
              <th>Số lượng sinh viên</th>
              <th>Giảng viên hướng dẫn</th>
              <th>Chuyên ngành phù hợp</th>
              <th>Nhóm đăng ký</th>
            </tr>

            <tbody *ngFor="let dt of listDT">
              <tr class="br-line" (dblclick)="clickLine($event, dt)">
                <td class="text-center">{{ dt.maDT }}</td>
                <td class="text-left">
                  <p class="cell-limit" [innerHTML]="dt?.tenDT"></p>
                </td>
                <td class="text-center">{{ dt?.slMin }} - {{ dt?.slMax }}</td>
                <td class="text-center">
                  {{ getTenGvHuongdanByMaDT(dt.maDT) }}
                </td>
                <td class="text-center">
                  {{ getChuyennganhPhuhop(dt.maDT) }}
                </td>
                <td class="text-center">
                  Tên nhóm đăng ký
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="h-5 p-r-8 p-l-8">
        <div class="detail-item selected-topic">
          <!-- Đề tài đang chọn -->
          <div class="row ali-center jus-between p-b-12 table-title">
            <p>Nội dung đề tài đang chọn</p>
            <button
              *ngIf="isTruongnhom && !isDangky"
              class="dangKy-btn submit-btn"
              (click)="onDangKy(lineDT)"
            >
              <button>Đăng ký</button>
            </button>
          </div>
          <div *ngIf="lineDT">
            <td class="text-left">
              <p class="cell-limit font-normal" [innerHTML]="lineDT.tomTat"></p>
            </td>
          </div>
        </div>
      </div>
    </div>

    <!-- Đề tài đã đăng ký -->
    <div class="p-t-16">
      <div class="detail-item">
        <p class="table-title p-b-12">Đề tài đã đăng ký</p>
        <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
          <tr class="thead">
            <th>Mã ĐT</th>
            <th>Tên đề tài</th>
            <th>Chi tiết</th>
            <th>Số lượng sinh viên</th>
            <th>Giảng viên hướng dẫn</th>
            <th>Chuyên ngành phù hợp</th>
            <th>Thao tác</th>
          </tr>

          <tr *ngIf="lineDTdk && lineDTdk.maDT">
            <td class="text-center">{{ lineDTdk.maDT }}</td>
            <td class="text-left">
              <p class="cell-limit" [innerHTML]="lineDTdk.tenDT"></p>
            </td>
            <td class="text-left">
              <p class="cell-limit" [innerHTML]="lineDTdk.tomTat"></p>
            </td>
            <td class="text-center">
              {{ lineDTdk.slMin }} - {{ lineDTdk.slMax }}
            </td>
            <td class="text-center">
              {{ getTenGvHuongdanByMaDT(lineDTdk.maDT) }}
            </td>
            <td class="text-center">
              {{ getChuyennganhPhuhop(lineDTdk.maDT) }}
            </td>
            <td class="text-center">
              <button
                *ngIf="isTruongnhom"
                class="huy-btn submit-btn"
                (click)="onHuyDangKy(lineDTdk.maDT)"
              >
                <button>Hủy</button>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
