<div id="container">
  <ul class="search-list row ali-center">
    <li class="search-item">
      <select
        class="search-select"
        id="search-select"
        (change)="getGiangVienByMaBM($event)"
      >
        <option value="">Tất cả</option>
        <option value="KTPM">Kỹ thuật phần mềm</option>
        <option value="HTTT">Hệ thống thông tin</option>
        <option value="KHPTDL">Khoa học phân tích dữ liệu</option>
        <option value="MMT">Mạng máy tính</option>
      </select>
    </li>
    <li class="search-item">
      <input
        type="text"
        placeholder="Tìm theo tên..."
        [(ngModel)]="searchName"
      />
    </li>
    <li class="search-item">
      <select
        class="search-select"
        id="sort-select"
        (change)="sortGiangVien($event)"
      >
        <option value="">Mặc định</option>
        <option value="asc-id">Tăng theo mã</option>
        <option value="desc-id">Giảm theo mã</option>
        <option value="asc-name">Tăng theo tên</option>
        <option value="desc-name">Giảm theo tên</option>
        <option value="asc-subject">Tăng theo bộ môn</option>
        <option value="desc-subject">Giảm theo bộ môn</option>
      </select>
    </li>
    <li class="search-item row ali-center jus-end flex-1">
      <button class="search-button" (click)="clickCreate()">Thêm</button>
      <button class="search-button" (click)="importGiangVien()">Nhập DS</button>
      <button class="search-button" (click)="clickUpdate()">Sửa</button>
      <button class="search-button" (click)="clickDelete()">Xóa</button>
    </li>
  </ul>
  <!-- <router-outlet></router-outlet> -->
  <app-danhsachgiangvien [searchName]="searchName"></app-danhsachgiangvien>

  <div id="create" (click)="clickCreate()"></div>
  <div id="create_box" [formGroup]="gvAddForm">
    <h2 class="CUD_header">THÊM GIẢNG VIÊN MỚI</h2>
    <div class="row form-list">
      <div class="h-6 p-l-12 p-r-12">
        <label class="input row ali-center form-control">
          <p class="label">Mã giảng viên</p>
          <input
            class="text"
            type="text"
            formControlName="maGV"
            [value]="this.gvUpdate?.maGv"
          />
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Bộ môn</p>
          <select name="" class="text" formControlName="maBM">
            <option *ngFor="let bm of listBoMon" [value]="bm.maBm">
              {{ bm.tenBm }}
            </option>
          </select>
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Tên giảng viên</p>
          <input
            class="text"
            type="text"
            formControlName="tenGV"
            [value]="this.gvUpdate?.tenGv"
          />
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Giới tính</p>
          <select name="" class="text" formControlName="gioiTinh">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
          </select>
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Ngày sinh</p>
          <input
            class="text"
            type="date"
            formControlName="ngaySinh"
            [value]="this.gvUpdate?.ngaySinh"
          />
        </label>
      </div>

      <div class="h-6 p-l-12 p-r-12">
        <label class="input row ali-center form-control">
          <p class="label">Email</p>
          <input
            class="text"
            type="text"
            formControlName="email"
            [value]="this.gvUpdate?.email"
          />
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Ngày nhận việc</p>
          <input
            class="text"
            type="date"
            formControlName="ngayNhanViec"
            [value]="this.gvUpdate?.ngayNhanViec"
          />
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Học hàm</p>
          <select name="" class="text" formControlName="hocHam">
            <option value="">Không có</option>
            <option value="GS">Giáo sư</option>
            <option value="PGS">Phó giáo sư</option>
          </select>
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Số điện thoại</p>
          <input
            class="text"
            type="text"
            formControlName="sdt"
            [value]="this.gvUpdate?.sdt"
          />
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Học vị</p>
          <select name="" class="text" formControlName="hocVi">
            <option value="">Không có</option>
            <option value="CH">Cao học</option>
            <option value="ThS">Thạc sĩ</option>
            <option value="TS">Tiến sĩ</option>
          </select>
        </label>
      </div>
    </div>
    <div class="text-right">
      <button class="btn-add" (click)="addGiangVien()">Thêm giảng viên</button>
    </div>
  </div>

  <div class="notification">
    <div class="success">Thêm thành công!</div>
    <div class="error">Thêm thất bại!</div>
  </div>

  <div id="update" (click)="clickUpdate()"></div>
  <div id="update_box" [formGroup]="gvUpdateForm">
    <h2 class="CUD_header">CẬP NHẬT THÔNG TIN GIẢNG VIÊN</h2>
    <div class="row form-list">
      <div class="h-6 p-l-12 p-r-12">
        <label class="input row ali-center form-control">
          <p class="label">Mã giảng viên</p>
          <input
            class="text"
            type="text"
            formControlName="maGV"
            [value]="this.gvUpdate?.maGv"
          />
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Bộ môn</p>
          <select name="" class="text" formControlName="maBM">
            <option *ngFor="let bm of listBoMon" [value]="bm.maBm">
              {{ bm.tenBm }}
            </option>
          </select>
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Tên giảng viên</p>
          <input
            class="text"
            type="text"
            formControlName="tenGV"
            [value]="this.gvUpdate?.tenGv"
          />
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Giới tính</p>
          <select name="" class="text" formControlName="gioiTinh">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
          </select>
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Ngày sinh</p>
          <input
            class="text"
            type="date"
            formControlName="ngaySinh"
            [value]="this.gvUpdate?.ngaySinh"
          />
        </label>
      </div>

      <div class="h-6 p-l-12 p-r-12">
        <label class="input row ali-center form-control">
          <p class="label">Email</p>
          <input
            class="text"
            type="text"
            formControlName="email"
            [value]="this.gvUpdate?.email"
          />
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Ngày nhận việc</p>
          <input
            class="text"
            type="date"
            formControlName="ngayNhanViec"
            [value]="this.gvUpdate?.ngayNhanViec"
          />
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Học hàm</p>
          <select name="" class="text" formControlName="hocHam">
            <option value="">Không có</option>
            <option value="GS">Giáo sư</option>
            <option value="PGS">Phó giáo sư</option>
          </select>
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Số điện thoại</p>
          <input
            class="text"
            type="text"
            formControlName="sdt"
            [value]="this.gvUpdate?.sdt"
          />
        </label>
        <label class="input row ali-center form-control">
          <p class="label">Học vị</p>
          <select name="" class="text" formControlName="hocVi">
            <option value="">Không có</option>
            <option value="CH">Cao học</option>
            <option value="ThS">Thạc sĩ</option>
            <option value="TS">Tiến sĩ</option>
          </select>
        </label>
      </div>
    </div>

    <div class="text-right">
      <button class="btn-update" (click)="updateGiangVien()">
        Cập nhật thông tin
      </button>
    </div>
  </div>

  <div id="delete" (click)="clickDelete()">delete</div>
</div>
