<div id=container>
    <ul class="search-list">
        <li class="search-item">
            <select class="search-select" id="search-select">
                <option value="">Tất cả</option>
                <option value="KTPM">Kỹ thuật phần mềm</option>
                <option value="HTTT">Hệ thống thông tin</option>
                <option value="KHPTDL">Khoa học phân tích dữ liệu</option>
                <option value="MMT">Mạng máy tính</option>
            </select>
        </li>
        <li class="search-item">
            <input type="text" placeholder="Tìm theo tên..." />
        </li>
        <li class="search-item">
            <select class="search-select" id="sort-select">
                <option value="asc-id">Tăng theo mã</option>
                <option value="desc-id">Giảm theo mã</option>
                <option value="asc-name">Tăng theo tên</option>
                <option value="desc-name">Giảm theo tên</option>
                <option value="asc-subject">Tăng theo bộ môn</option>
                <option value="desc-subject">Giảm theo bộ môn</option>
                </select>
        </li>
        <li class="search-item">
            <button class="search-button" (click)="addGiangVien()">Thêm</button>
            <button class="search-button" (click)="importGiangVien()">Import</button>
        </li>
        <li class="search-item">
            <button class="search-button" (click)="updateGiangVien()">Sửa</button>
            <button class="search-button" (click)="deleteGiangVien()">Xóa</button>
        </li>
    </ul>
    <router-outlet></router-outlet>
    
    <div id="create" (click)="clickCreate()">
        <div class="CUD_box" id="create_box">
            <!-- <h2 id="CUD_header">THÊM GIẢNG VIÊN MỚI</h2> -->
           <div class="CUD_box-left">
                <div class="input">
                    <p class="label">Mã giảng viên</p>
                    <input class="text" type="text" />
                </div>
                <div class="input">
                    <p class="label">Tên giảng viên</p>
                    <input class="text" type="text" />
                </div>
                <div class="input">
                    <p class="label">Năm sinh</p>
                    <input class="text" type="text" />
                </div>
                <div class="input">
                    <p class="label">Giới tính</p>
                    <input class="text" type="text" />
                </div>
                <div class="input">
                    <p class="label">Số điện thoại</p>
                    <input class="text" type="text" />
                </div>
           </div>
           <div class="CUD_box-right">
                <div class="input">
                    <p class="label">Bộ môn</p>
                    <input class="text" type="text" />
                </div>
                <div class="input">
                    <p class="label">Email</p>
                    <input class="text" type="text" />
                </div>
                <div class="input">
                    <p class="label">Ngày làm việc</p>
                    <input class="text" type="text" />
                </div>
                <div class="input">
                    <p class="label">Học hàm</p>
                    <input class="text" type="text" />
                </div>
                <div class="input">
                    <p class="label">Học vị</p>
                    <input class="text" type="text" />
                </div>
            </div>
        </div>
        
    </div>
    
    <div id="update" (click)="clickUpdate()">
        update
    </div>

    <div id="delete" (click)="clickDelete()">
        delete
    </div>
</div>