.form h2.title {
  min-width: 120px;
  font-size: 2rem;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 700;
  color: #0a5999;
}

.form-control {
  padding-top: 8px;
  padding-bottom: 8px;
}

.form-control .label {
  width: 120px;
  color: #4b525a;
  font-size: 1.4rem;
}

.error-mess {
  color: red;
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  display: none;
}

.form.invalid > .error-mess {
  text-align: center;
  padding-bottom: 16px;
  position: initial;
  display: block;
}

.form-control.invalid {
  padding-bottom: 24px;
}

.form-control.invalid input,
.form-control.invalid select,
.form-control.invalid textarea,
.form-control.invalid quill-editor {
  box-shadow: 0 0 7px rgba(255, 0, 0, 0.3) !important;
}

.form-control.invalid .error-mess {
  display: block;
  padding-top: 4px;
}

.form-value {
  flex: 1;
  position: relative;
}

.form-control input:not([type="radio"]):not([type="checkbox"]),
.form-control select,
.form-control textarea,
.form-control quill-editor {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #eae9e9;
  background: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
}

.form-control input[type="radio"],
.form-control [type="checkbox"] {
  margin-right: 4px;
}

.form-control textarea {
  min-height: 80px;
  padding: 8px 12px;
}

.form-control input:not([type="radio"]):not([type="checkbox"]):read-only,
.form-control section:read-only {
  background: #cccccc29;
  color: #5e6267;
}

.form-control input:not([type="radio"]):not([type="checkbox"]):focus,
.form-control select:focus,
.form-control quill-editor:focus-within {
  box-shadow: 0 0 10px rgba(64, 153, 213, 0.859);
}

.form-control.form-no-box-shadow
  input:not([type="radio"]):not([type="checkbox"]):focus {
  box-shadow: none;
}

.submit-btn {
  padding-top: 12px;
}

.submit-btn button {
  min-width: 120px;
  color: #fff;
  background-color: #167dec;
  border-radius: 6px;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 12px;
}

.submit-btn button:hover {
  background-color: #0f69b8;
  cursor: pointer;
}
