.search-list {
  position: sticky;
  top: 60px;
  background: #e7ecf0;
  padding: 16px 0;
  z-index: 10;
}

.search-list .notify {
  font-size: 1.2rem;
  color: red;
}

.search-container {
  height: 40px;
  margin: 0 -10px 0 -10px;
}

.search-item {
  flex-basis: calc(100% / 5);
  padding: 0 10px;
  height: 100%;
  gap: 12px;
}

.search-item input,
.search-item select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
}

.search-button {
  height: 100%;
  font-size: 1.35rem;
  min-width: 75px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0984e3;
  color: #fff;
  border: 1px solid #ccc;
}

.search-button:hover {
  opacity: 0.9;
}

#create,
#update,
#drag-file,
#delete {
  background-color: rgb(127, 183, 220, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 11;
}

#create.active,
#update.active,
#drag-file.active,
#delete.active {
  display: block;
}

#create_box,
#update_box,
#drag-file_box {
  width: 750px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 24px 30px;
  z-index: 12;
  display: none;
  max-height: calc(100vh - 96px);
  overflow: auto;
}

#update_box.active,
#create_box.active,
#drag-file_box.active {
  display: block;
}

#drag-file_box {
  width: 600px;
}

#drag-file_box .description {
  font-size: 1.3rem;
  color: #6f6f6f;
}

#drag-file_box .title {
  font-size: 1.7rem;
  font-weight: 500;
  color: #0a5999;
}

.drag-form {
  width: 100%;
  height: 120px;
  margin-top: 12px;
  border: 3px dashed #ccc;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #6f6f6f;
}

.drag-form i {
  font-size: 4rem;
  padding-bottom: 8px;
}

.drag-form span {
  color: #007de4;
  text-decoration: underline;
  cursor: pointer;
}

.drag-form.active {
  border-color: #007de43b;
  background: #319ff41a;
}

.drag-form.active i {
  color: #0035ff;
}

.drag-form.active p {
  color: #333;
}

.form-list {
  margin: 0 -12px;
}

.file-choose .file-choose-container {
  margin-top: 8px;
  padding: 8px 16px;
  border: 2px solid #dbdbdb;
  border-radius: 5px;
  font-size: 1.4rem;
  color: #3e3e3e;
}

.file-choose-container i {
  font-size: 2.5rem;
  color: #01731c;
  padding-right: 16px;
}

.file-choose-container .file-size {
  font-size: 1.2rem;
}

.file-choose-container .import-btn {
  background-color: #167dec;
  padding: 4px 12px;
  border-radius: 5px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
}

.file-choose-container .import-btn:hover {
  background-color: #0f69b8;
}

#delele {
  background: none;
}

#delete .form-notify .notify-container {
  width: 500px;
}
