/* 4px */ 
.ma-4 {
    margin: 4px;
}
.ma-l-4 {
    margin-left: 4px;
}
.ma-r-4 {
    margin-right: 4px;
}
.ma-t-4 {
    margin-top: 4px;
}
.ma-b-4 {
    margin-bottom: 4px;
}
/* 8px */
.ma-8 {
    margin: 8px;
}
.ma-l-8 {
    margin-left: 8px;
}
.ma-r-8 {
    margin-right: 8px;
}
.ma-t-8 {
    margin-top: 8px;
}
.ma-b-8 {
    margin-bottom: 8px;
}
/* 12px */
.ma-12 {
    margin: 12px;
}
.ma-l-12 {
    margin-left: 12px;
}
.ma-r-12 {
    margin-right: 12px;
}
.ma-t-12 {
    margin-top: 12px;
}
.ma-b-12 {
    margin-bottom: 12px;
}
/* 16px */
.ma-16 {
    margin: 16px;
}
.ma-l-16 {
    margin-left: 16px;
}
.ma-r-16 {
    margin-right: 16px;
}
.ma-t-16 {
    margin-top: 16px;
}
.ma-b-16 {
    margin-bottom: 16px;
}
/* 20px */
.ma-20 {
    margin: 20px;
}
.ma-l-20 {
    margin-left: 20px;
}
.ma-r-20 {
    margin-right: 20px;
}
.ma-t-20 {
    margin-top: 20px;
}
.ma-b-20 {
    margin-bottom: 20px;
}
/* 24px */
.ma-24 {
    margin: 24px;
}
.ma-l-24 {
    margin-left: 24px;
}
.ma-r-24 {
    margin-right: 24px;
}
.ma-t-24 {
    margin-top: 24px;
}
.ma-b-24 {
    margin-bottom: 24px;
}
/* 32px */
.ma-32 {
    margin: 32px;
}
.ma-l-32 {
    margin-left: 32px;
}
.ma-r-32 {
    margin-right: 32px;
}
.ma-t-32 {
    margin-top: 32px;
}
.ma-b-32 {
    margin-bottom: 32px;
}
/* 40px */
.ma-40 {
    margin: 40px;
}
.ma-l-40 {
    margin-left: 40px;
}
.ma-r-40 {
    margin-right: 40px;
}
.ma-t-40 {
    margin-top: 40px;
}
.ma-b-40 {
    margin-bottom: 40px;
}


