.table {
  width: 100%;
  border-radius: 8px;
  border-collapse: collapse;
  overflow: hidden;
  margin-bottom: 24px;
}

.table tr th {
  background-color: #0984e3;
  color: #fff;
}

.table td .cell-limit {
  max-height: calc(1.6 * 1.3rem * 3);
  overflow: hidden;
}

.table th,
.table td {
  padding: 12px 6px;
  border: 1px solid #7ab8ed;
  font-size: 1.3rem;
}

.table tr td {
  font-weight: 400;
}

.table tr {
  color: #000;
  background: #fff;
  cursor: pointer;
}

.table tr.br-line-dblclick,
.table tr.br-line-click {
  background: #2a7ac1;
  color: #fff;
}
