<div id="container">
    <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
        <tr>
            <th>MGV</th>
            <th>Họ và tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Email</th>
            <th>SĐT</th>
            <th>Ngày nhận việc</th>
            <th>Ngày nghĩ</th>
            <th>Bộ môn công tác</th>
        </tr>
        <tr>
            <td>GV00001</td>
            <td>Nguyễn Thị Thanh Xuân</td>
            <td>15/10/1999</td>
            <td>Nữ</td>
            <td>xuanntt@hufi.edu.vn</td>
            <td>0395853756</td>
            <td>01/01/2020</td>
            <td></td>
            <td>Kỹ thuật phần mềm</td>
        </tr>
    </table>
</div>
