.table {
  width: 100%;
  border: none;
  border-collapse: collapse;

  tr th {
    background-color: #0c6fbe;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
  }

  tr td{
    font-size: 1.3rem;

  }
}

.table th,
.table td {
  padding: 12px 6px;
  border: 1px solid #238be8;
}

.table tr {
  color: #000;
}

.br-line:hover {
  cursor: pointer;
}

.br-line-hover {
  background-color: #1cadeb;
  color: #fff !important;
}
