.table {
    width: 100%;
    background-color: #fff;
}

.table th,
.table td {
    padding: 12px 6px;
    text-align: center;
}

.table tr {
    color: #000;
}

.br-line:hover {
    cursor: pointer;
}

.br-line-hover {
    background-color: #1cadeb;
    color: #fff !important;
}

