<div id="container">
  <div>
    <table border="1" [cellPadding]="0" [cellSpacing]="0" class="table">
      <tr>
        <th>Mã SV</th>
        <th>Họ và tên</th>
        <!-- <th>Ngày sinh</th> -->
        <th>Giới tính</th>
        <th>Lớp</th>
        <th>Chuyên ngành</th>
        <th>Thao tác</th>
      </tr>
      <tbody *ngFor="let tg of listTg">
        <tr>
          <td class="text-center">{{ tg?.maSv }}</td>
          <td class="text-left">{{ tg.tenSv }}</td>
          <td class="text-center">{{ tg.gioiTinh }}</td>
          <td class="text-center">{{ tg.lop }}</td>
          <td class="text-left">{{ getTenCNById(tg.maCn) }}</td>
          <td
            *ngIf="checkSentInvitation(tg.maSv); else chuaGui"
            class="text-center action-btn"
            (click)="onShowInvite(tg.maSv)"
            style="color: #ff0000"
          >
            Hủy lời mời
          </td>
          <ng-template #chuaGui>
            <td
              class="text-center action-btn"
              (click)="onShowInvite(tg.maSv)"
              style="color: #0984e3"
            >
              Mời tham gia
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="create" (click)="onHideInvite($event)"></div>
<div id="create_box" [formGroup]="lmForm.form" *ngIf="sinhVien">
  <p class="title">Thông tin sinh viên</p>

  <div class="background">
    <div class="user-info row flex-column ali-center">
      <img src="../../../../assets/Images/avatar-nam.jpeg" alt="" />
      <p>{{ sinhVien.tenSv }}</p>
    </div>
  </div>

  <div
    *ngIf="checkSentInvitationForStudent() == false; else daGui"
    class="form-control"
  >
    <div class="form-value">
      <quill-editor
        spellcheck="false"
        class="form-input"
        placeholder=""
        [modules]="{ toolbar: false }"
        formControlName="loiNhan"
      ></quill-editor>
      <p class="error-mess"></p>
    </div>
    <div class="to-center p-t-20 row ali-center jus-end">
      <button class="functional-button">
        <button (click)="onSendInvite()">Gửi lời mời</button>
      </button>
    </div>
  </div>
  <ng-template #daGui>
    <div class="to-center p-t-140 row ali-center jus-end">
      <button class="functional-button">
        <button (click)="onRemoveInvite()">Hủy lời mời</button>
      </button>
    </div>
  </ng-template>
</div>

<div *ngIf="isPopupVisible" class="blur-frame">
  <div class="popup-failed">
    <img src="./../../../assets/Images/that-bai.png" />
    <div class="popup-wrapper">
      <h2>Thất bại</h2>
      <p *ngIf="showGroupMemberAlreadySent">
        Nhóm bạn đã gửi lời mời cho sinh viên này
      </p>
      <p *ngIf="isNotHaveStudent">Không tìm thấy sinh viên để mời</p>
      <p *ngIf="isSentToNotJoinStudent">
        Sinh viên được mời không có trong đợt làm khóa luận này
      </p>
      <p *ngIf="isSignUpDeTai">
        Nhóm bạn đã đăng ký đề tài nên không thể gửi lời mời nhóm
      </p>
      <button (click)="hidePopup()">Đóng</button>
    </div>
  </div>

  <div *ngIf="showSuccessMessage" class="popup-success">
    <img src="./../../../assets/Images/tich-xanh.png" />
    <div class="popup-wrapper">
      <h2>Thành công</h2>
      <p *ngIf="isRemoveInvite">Bạn đã xóa lời mời thành công</p>
      <p *ngIf="!isRemoveInvite">Bạn đã gửi lời mời thành công</p>
      <button (click)="hidePopup()">Đóng</button>
    </div>
  </div>
</div>
